<nav class="nav-main-w">
    <ul class="nav-main-l">
        <li class="nav-main-i">
            <a href="#" class="nav-main-a">Studiengang</a>
            <ul class="nav-main--l2-l">
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
            </ul>
        </li>
        <li class="nav-main-i">
            <a href="#" class="nav-main-a">Bewerbung</a>
            <ul class="nav-main--l2-l">
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
            </ul>
        </li>
        <li class="nav-main-i">
            <a href="#" class="nav-main-a">Über uns</a>
            <ul class="nav-main--l2-l">
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
            </ul>
        </li>
        <li class="nav-main-i">
            <a href="#" class="nav-main-a">Campus</a>
            <ul class="nav-main--l2-l">
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
            </ul>
        </li>
    </ul>
</nav>
