{% set navigationLevel1 = craft.entries.section('mainNavigation').level(1) %}

<nav class="nav-main-w">
    <ul class="nav-main-l">

        {% for level1 in navigationLevel1 %}

            <li class="nav-main-i{{ level1.isParentOf(entry) or level1.id == entry.id ? ' _is-active' }}">
                <a href="{{ level1.url }}" class="nav-main-a">{{ level1 }}</a>

                {% set navigationLevel2 = level1.getDescendants(1) %}

                {% if navigationLevel2|length %}

                    <ul class="nav-main--l2-l">

                        {% for level2 in navigationLevel2 %}
                            <li class="nav-main--l2-i{{ level2.isParentOf(entry) or level2.id == entry.id ? ' _is-active' }}">
                                <a href="{{ level2.url }}" class="nav-main--l2-a">{{ level2 }}</a>
                            </li>
                        {% endfor %}

                    </ul>

                {% endif %}

            </li>

        {% endfor %}

    </ul>
</nav>
