<header class="lyt-head-w">
    <a href="{{ siteUrl }}" class="lyt-head--home-a">
        <figure class="lyt-head--home-f _logo-left">
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
            <span class="lyt-head--logo-i"></span>
        </figure>
        <span class="txt-ldk-h">
            <span class="_label">Masterstudiengang</span>
            <strong class="_title">Leadership in digitaler Kommunikation</strong>
        </span>
    </a>

    <a href="http://www.ziw.udk-berlin.de/">
        <figure class="lyt-head--home-f _logo-right">
            <img src="/assets/images/layout/udk-berlin-career-college-logo.png" alt="Berlin Career College">
        </figure>
    </a>

    {% include 'header/_navigation' %}
</header>
