<header class="layout-head__wrapper">
    <a href="{{ siteUrl }}" class="layout-head__home__link">
        <figure class="layout-head__home__figure _logo-left">
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
            <span class="layout-head__logo__item"></span>
        </figure>
        <span class="text-ldk__headline">
            <span class="_label">Masterstudiengang</span>
            <strong class="_title">Leadership in digitaler Kommunikation</strong>
        </span>
    </a>

    <a href="http://www.ziw.udk-berlin.de/">
        <figure class="layout-head__home__figure _logo-right">
            <img src="/assets/images/layout/udk-berlin-career-college-logo.png" alt="Berlin Career College">
        </figure>
    </a>

    {% include 'header/navigation' %}
</header>
