<ul class="nav-main--l2-l">
    <li class="nav-main--l2-i _has-login">
        <form method="post" accept-charset="UTF-8" class="frm-c">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/login">

            <h3><label for="loginName">Username or email</label></h3>
            <input id="loginName" type="text" name="loginName"
                value="{{ craft.session.rememberedUsername }}">

            <h3><label for="password">Password</label></h3>
            <input id="password" type="password" name="password">

            <label>
                <input type="checkbox" name="rememberMe" value="1">
                Remember me
            </label>

            <button class="btn-outline" type="submit">Login</button>
            <p><a href="{{ url('forgotpassword') }}">Forget your password?</a></p>

            {% if errorMessage is defined %}
                <p>{{ errorMessage }}</p>
            {% endif %}
        </form>
    </li>
</ul>

