{% set depth    = depth is defined ? depth : false %}

{% for level1 in navigationModel.level(1) %}

    <li class="nav-main-i{{ level1.isParentOf(entry) or level1.id == entry.id ? ' _is-active' }}">
        <a href="{{ level1.url }}" class="nav-main-a">{{ level1 }}</a>

        {% if (navigationModel.level(2)|length and (depth == false or depth >= 2))  %}

            <ul class="nav-main--l2-l">

                {% for level2 in navigationModel.level(2) %}
                    <li class="nav-main--l2-i{{ level2.isParentOf(entry) or level2.id == entry.id ? ' _is-active' }}">
                        <a href="{{ level2.url }}" class="nav-main--l2-a">{{ level2 }}</a>
                    </li>
                {% endfor %}

                {% block level2Append %}{% endblock %}

            </ul>

        {% endif %}

    </li>

{% endfor %}
