{% set depth       = depth is defined ? depth : false %}
{% set segmentList = craft.request.segments %}

{% for level1 in navigationModel.level(1) %}

    {% set level1Segment = segmentList[0]|default('') %}

    <li class="navigation-main__item{{ level1.slug == level1Segment or level1.id == entry.id ? ' _is-active' }}">
        <a href="{{ level1.url }}" class="navigation-main__link">{{ level1 }}</a>

        {% set level2Model = level1.getDescendants(1) %}

        {% if (level2Model|length and (depth == false or depth >= 2))  %}

            <ul class="navigation-main__l2__list">

                {% for level2 in level2Model %}

                    {% set level2Segment = segmentList[1]|default('') %}

                    <li class="navigation-main__l2__item{{ level2.slug == level2Segment or level2.id == entry.id ? ' _is-active' }}">
                        <a href="{{ level2.url }}" class="navigation-main__l2__link">{{ level2 }}</a>
                    </li>

                {% endfor %}

                {% block level2Append %}{% endblock %}

            </ul>

        {% endif %}

    </li>

{% endfor %}
