<nav class="navigation-main__wrapper">
    <ul class="navigation-main__list">

        {% cache %}

            {% include 'header/navigationListSkeleton' with {navigationModel: craft.entries.section('mainNavigation')} %}

            {# Only show children of campus navigation if user is logged in #}
            {% set loggedIn = craft.session.isLoggedIn %}
            {% embed 'header/navigationListSkeleton' with {navigationModel: craft.entries.section('campus'), depth: loggedIn ? false : 1} %}

                {% if loggedIn %}
                    {% block level2Append %}<a href="{{ logoutUrl }}" class="navigation-main__l2__link">{{ defaultStringLogoutLink.label }}</a>{% endblock %}
                {% endif %}

            {% endembed %}

            {% include 'header/navigationSearchInput' %}

        {% endcache %}
    </ul>
</nav>
