<nav class="navigation-main__wrapper">
    <ul class="navigation-main__list">
        <li class="navigation-main__item{{ entry.type == 'homepage' ? ' _is-active' }}">
            <a href="{{ siteUrl }}" class="navigation-main__link navigation-main__home__link">
                <span class="navigation-main__home__text">Startseite</span>

                <figure class="navigation-main__home__figure">
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                    <span class="navigation-main__home__figure__item"></span>
                </figure>
            </a>
        </li>

        {% cache %}
            {% include 'header/navigationListSkeleton' with {navigationModel: craft.entries.section('mainNavigation')} %}
        {% endcache %}

            {# Only show children of campus navigation if user is logged in #}
            {% set loggedIn = craft.session.isLoggedIn %}
            {% embed 'header/navigationListSkeleton' with {navigationModel: craft.entries.section('campus'), depth: loggedIn ? false : 1} %}

                {% if loggedIn %}
                    {% block level2Append %}
                    <li class="navigation-main__l2__item">
                        <a href="{{ logoutUrl }}" class="navigation-main__l2__link">{{ defaultStringLogoutLink.label }}</a>
                    </li>
                    {% endblock %}
                {% endif %}

            {% endembed %}

            {% include 'header/navigationSearchInput' %}

    </ul>
</nav>
