<nav class="nav-main-w">
    <ul class="nav-main-l">

        {% include 'header/navigationListSkeleton' with {navigationModel: craft.entries.section('mainNavigation')} %}

        {# Only show children of campus navigation if user is logged in #}
        {% set loggedIn = craft.session.isLoggedIn %}
        {% embed 'header/navigationListSkeleton' with {navigationModel: craft.entries.section('campus'), depth: loggedIn ? false : 1} %}

            {% if loggedIn %}
                {% block level2Append %}<a href="{{ logoutUrl }}" class="nav-main--l2-a">{{ defaultStringLogoutLink.label }}</a>{% endblock %}
            {% endif %}

        {% endembed %}
    </ul>
</nav>
