/**
 * Social Media Links
 */

.social-share__link {
    @extend %composited-layer;
    position: relative;
    z-index: 1;
    transition: 0.3s opacity ease;

    &:link,
    &:visited {
        opacity: 1;
        color: inherit;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }

    &:before {
        font-size: 2.8em;
    }

    &._facebook {
        @include icon(facebook-circle);
    }

    &._twitter {
        @include icon(twitter-circle);
    }

    &._linkedin {
        @include icon(linkedin-circle);
    }

    span {
        @extend %is-visually-hidden;
    }
}
