/**
 * Social Media Links That Link to Social Media Websites
 */

.social__list {
    @extend %unstyle-list;
}

.social__item {
    @extend %unstyle-list-item;
}

.social__link {
    position: relative;
    padding-left: em(24);
    word-wrap: break-word;

    &:link,
    &:visited {
        text-decoration: none !important;
    }

    &:hover span {
        text-decoration: underline;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1.4 !important;
    }

    &._facebook {
        @include icon(facebook);
    }

    &._twitter {
        @include icon(twitter);
    }

    &._xing {
        @include icon(xing, 0.7em);
    }

    &._linkedin {
        @include icon(linkedin);
    }
}
