/**
 * Button with a square holding an icon
 */

%button-square__icon {
    position: relative;

    &:link,
    &:visited {
        color: color(2);
        text-decoration: none;
    }

    &:focus,
    &:hover {
        &:before {
            color: color(2);
        }

        &:after {
            border: 4px solid color(2);
            background-color: transparent;
        }
    }

    &:before,
    &:after {
        display: block;
        position: absolute;
    }

    &:before {
        display: block;
        font-size: 1.5em;
        top: em(8, size(4));
        color: color(1);
        z-index: 1;
        text-align: center;
        font-weight: normal;
    }

    &:after {
        top: 0;
        content: '';
        width: em(40);
        height: em(40);
        background-color: color(2);
    }
}

%button-square--base {
    @extend %text-type--6;
    @extend %button-square__icon;
    @include icon(plus);
    display: inline-block;
    min-height: em(40);
    padding-top: em(8);
    line-height: 1.2;

    &:before {
        text-indent: 1px; // Compensate the slight misplacement within the font
    }
}

%button-square--left {
    padding-left: em(50);

    &:before {
        left: em(7, size(4));
    }

    &:after {
        left: 0;
    }
}

%button-square--right {
    padding-right: em(50);

    &:before {
        right: em(7, size(4));
    }

    &:after {
        right: 0;
    }
}

.button-square {
    @extend %button-square--base;
    @extend %button-square--left;

    &._pdf {
        @include icon(file-pdf, 1.1em);

        &:before {
            text-indent: em(3);
            line-height: 0.9;
        }
    }
}
