<aside class="richtext__content__sidebar__wrapper">

    {% if entry.courseTopics %}
        <div class="richtext__content__sidebar__content">
            <h3>{{ craft.fields.getFieldbyHandle('courseTopics') }}</h3>
            <div class="richtext__content__sidebar__text">{{ entry.courseTopics }}</div>
        </div>
    {% endif %}

    {% if entry.courseMaster|length %}
        <div class="richtext__content__sidebar__content">
            <h3>{{ craft.fields.getFieldbyHandle('courseMaster') }}</h3>
            <div class="richtext__content__sidebar__text">

                {% for prof in entry.courseMaster %}
                    <a href="prof.url">{{ prof.degree ? prof.degree ~ ' ' }}{{ prof.firstName }} {{ prof.lastName }}</a><br>

                    {% if prof.profession %}
                        {{ prof.profession }}<br>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {% endif %}

    {% if entry.courseTeacher|length %}
        <div class="richtext__content__sidebar__content">
            <h3>{{ craft.fields.getFieldbyHandle('courseTeacher') }}</h3>
            <div class="richtext__content__sidebar__text">

                {% for teacher in entry.courseTeacher %}
                    <a href="teacher.url">{{ teacher.degree ? teacher.degree ~ ' ' }}{{ teacher.firstName }} {{ teacher.lastName }}</a><br>

                    {% if teacher.profession %}
                        {{ teacher.profession }}<br>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {% endif %}


    {% if entry.courseStartDate and entry.courseEndDate %}
        <div class="richtext__content__sidebar__content">
            <h3>Zeitraum</h3>
            <div class="richtext__content__sidebar__text">
                {{ entry.courseStartDate|date('d.m.Y') }} – {{ entry.courseEndDate|date('d.m.Y') }}
            </div>
        </div>
    {% endif %}

    {% if entry.courseDates|length %}
        <div class="richtext__content__sidebar__content">
            <h3>{{ craft.fields.getFieldbyHandle('courseDates') }}</h3>
            <div class="richtext__content__sidebar__text">
                {% for date in entry.courseDates %}
                    {{ date.timeFrameStart|date('d.m.Y') }}{{ date.timeFrameEnd ? ' – ' ~ date.timeFrameEnd|date('d.m.Y') }}<br>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if entry.venue|length %}
        <div class="richtext__content__sidebar__content">
            <h3>{{ craft.fields.getFieldbyHandle('venue') }}</h3>
            <div class="richtext__content__sidebar__text">{% include 'partials/venue' %}</div>
        </div>
    {% endif %}
</aside>
