<dl class="rtf-c--sidebar-w">

    {% if entry.courseTopics %}
        <dt>{{ craft.fields.getFieldbyHandle('courseTopics') }}</dt>
        <dd>{{ entry.courseTopics }}</dd>
    {% endif %}

    {% if entry.courseMaster|length %}
        <dt>{{ craft.fields.getFieldbyHandle('courseMaster') }}</dt>
        <dd>

            {% for prof in entry.courseMaster %}
                <a href="prof.url">{{ prof.degree ? prof.degree ~ ' ' }}{{ prof.firstName }} {{ prof.lastName }}</a><br>

                {% if prof.profession %}
                    {{ prof.profession }}<br>
                {% endif %}
            {% endfor %}

        </dd>
    {% endif %}

    {% if entry.courseTeacher|length %}
        <dt>{{ craft.fields.getFieldbyHandle('courseTeacher') }}</dt>
        <dd>

            {% for teacher in entry.courseTeacher %}
                <a href="teacher.url">{{ teacher.degree ? teacher.degree ~ ' ' }}{{ teacher.firstName }} {{ teacher.lastName }}</a><br>

                {% if teacher.profession %}
                    {{ teacher.profession }}<br>
                {% endif %}
            {% endfor %}

        </dd>
    {% endif %}


    {% if entry.courseStartDate and entry.courseEndDate %}
        <dt>Zeitraum</dt>
        <dd>
            {{ entry.courseStartDate|date('d.m.Y') }} – {{ entry.courseEndDate|date('d.m.Y') }}
        </dd>
    {% endif %}

    {% if entry.courseDates|length %}
        <dt>{{ craft.fields.getFieldbyHandle('courseDates') }}</dt>
        <dd>
            {% for date in entry.courseDates %}
                {{ date.timeFrameStart|date('d.m.Y') }}{{ date.timeFrameEnd ? ' – ' ~ date.timeFrameEnd|date('d.m.Y') }}<br>
            {% endfor %}
        </dd>
    {% endif %}

    {% if entry.venue|length %}
        <dt>{{ craft.fields.getFieldbyHandle('venue') }}</dt>
        <dd>

            {% for venue in entry.venue %}
                {% if venue.googleMapsUrl %}
                    <a href="{{ venue.googleMapsUrl }}" target="_blank">{{ venue.title }}</a><br>
                {% else %}
                    {{ venue.title }}
                {% endif %}

                {{ venue.street ? venue.street }}<br>
                {{ venue.zipcode ? venue.zipcode}} {{ venue.city ? venue.city}}
            {% endfor %}

        </dd>
    {% endif %}
</dl>
