{% set courseClassName = entry.courseCategory.first() ? ' _' ~ entry.courseCategory.first().slug : '' %}

{% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper' ~ courseClassName, sectionLabel: defaultStringCourseDetail} %}

    {% block content %}

        <div class="richtext__content _has-sidebar">
            {% set badge = entry.courseCategory.first %}
            {% if badge %}
                <b class="richtext-badge__headline" title="{{ badge }}">{{ badge.courseShortname }}</b>
            {% endif %}

            {{ entry.introduction }}
        </div>

        {% include 'partials/courseDetailSidebar' %}

    {% endblock %}

{% endembed %}
