<footer class="layout-footer__wrapper">
    <a href="http://www.ziw.udk-berlin.de/" class="layout-footer__item">
        <img src="/assets/images/layout/udk-berlin-career-college-logo.png" width="200" height="50" alt="Berlin Career College">
    </a>
    <a href="{{ siteUrl }}" class="layout-footer__item text-ldk__headline">
        <span class="_label">Masterstudiengang</span>
        <strong class="_title">Leadership in digitaler Kommunikation</strong>
    </a>
</footer>

<div class="layout-footer__meta">
    {% include 'matrix/footerMetaLinks/index' %}
</div>
