<footer class="layout-footer__wrapper">
    <a href="{{ siteUrl }}" class="layout-footer__item text-ldk__headline">
        <span class="_label">Masterstudiengang</span>
        <strong class="_title">Leadership in digitaler Kommunikation</strong>
    </a>
    <a href="http://www.ziw.udk-berlin.de/" class="layout-footer__item">
        <img src="/assets/images/layout/udk-berlin-career-college-logo.png" width="200" height="50" alt="Berlin Career College">
    </a>
    <a href="http://www.unisg.ch/" class="layout-footer__item">
        <img src="/assets/images/layout/universitaet-st-gallen-logo.svg" width="204" height="50" alt="Universität St. Gallen">
    </a>
</footer>

