{# Available layouts: center, horizontal #}
{% set layout = layout is defined ? layout : 'center' %}

{# Skip a certain category #}
{% set skip = skip is defined ? skip : '' %}

<section class="mosaic-ldk__wrapper">
    <ul class="mosaic-ldk__list _{{ layout }}">

        {% cache %}

            {# Only show entries that have a courseEntry and that should not be skipped #}
            {% for category in craft.categories.group('courses') if category.slug != skip and category.courseEntry|length %}

                {% set entryModel = category.courseEntry.first() %}
                {% set prof       = entryModel.courseMaster.first() %}

                <li class="mosaic-ldk__item _{{ category.slug }}">
                    <a href="{{ entryModel.url }}" class="mosaic-ldk__link">
                        <span class="_id">{{ category.courseShortname }}</span>
                        <span class="_title">{{ category }}</span>

                        {% if prof %}
                            <span class="_prof">{{ prof.degree ? prof.degree ~ ' ' }}{{ prof.lastName }}</span>
                        {% endif %}
                    </a>
                </li>

            {% endfor %}

        {% endcache %}

    </ul>
</section>
