{% if entry.mosaicLdk %}

    <section class="mosaic-ldk__wrapper">
        <ul class="mosaic-ldk__list _center">

            {% cache %}

                {% for item in entry.mosaicLdk if entry.mosaicLdk|length  %}
                    {% set entryModel = item.courseEntry.first() %}
                    {% set prof       = entryModel.courseMaster.first() %}

                    <li class="mosaic-ldk__item _{{ item.slug }}">
                        <a href="{{ entryModel.url }}" class="mosaic-ldk__link">
                            <span class="_id">{{ item.courseShortname }}</span>
                            <span class="_title">{{ item }}</span>

                            {% if prof %}
                                <span class="_prof">{{ prof.degree ? prof.degree ~ ' ' }}{{ prof.lastName }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}

            {% endcache %}

        </ul>
    </section>

{% endif %}
