{% if quicklinkModel is defined and quicklinkModel|length %}
    <section class="layout-quicklinks__wrapper">

        {# Iterate over the linkBlocks and highlight the first  #}
        {% for linkBlock in quicklinkModel %}

            <div class="layout-quicklinks__content">
                <a href="{{ linkBlock.links.first.url }}" class="layout-quicklinks__headline">{{ linkBlock.links.first }}</a>

                <ul class="layout-quicklinks__list">

                    {# Exclude the first item since it is already shown above #}
                    {% for link in linkBlock.links if link.id != linkBlock.links[0].id %}
                        <li><a href="{{ link.url }}" class="layout-quicklinks__link">{{ link }}</a></li>
                    {% endfor %}

                </ul>
            </div>

        {% endfor %}

    </section>
{% endif %}
