{% set showLimit = showLimit|default(5) %}

{% embed "helper/sectionContainer.html" with {classes: 'download-area__wrapper', sectionLabel: 'Neueste ' ~ showLimit ~ ' Downloads'} %}

    {% block content %}

        <section class="download-area__content">

            {# Select only those assets that are actually used within the campusDownloads matrix field within the campusDownloads section #}
            {% set downloadsContext = craft.entries.section('campusDownloads').type('campusDownloadsDetail') %}
            {% set latestDownloads = craft.assets.sourceId(4).relatedTo({
                sourceElement: downloadsContext,
                field: 'campusDownloads'
            }).order('dateUpdated DESC').limit(showLimit) %}

            {% include 'matrix/downloadArea/downloadList' with {downloads: latestDownloads, showBadge: true} %}

        </section>

    {% endblock %}

{% endembed %}
