/**
 * Badges that can be next to content
 */

.richtext-badge__headline {
    @extend %text-type--3;
    display: block;
    position: absolute;
    top: em(100, size(3));
    left: 0;
    width: em(100, size(3));
    height: em(100, size(3));
    padding: em(6, size(3));
    color: color(1);
    background-color: color(3);
}

/**
 * Richtext with sidebar
 */

.richtext-badge__wrapper {
    float: left;
    width: em(200);
    margin-top: em(100);
}

.richtext-badge__image {
    display: block;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
