/**
 * Tags for richtext documents
 */

.richtext-tags__wrapper {
    @extend %clearfix;

    &._no-legend {
        .richtext-tags__headline {
            @extend %is-visually-hidden;
        }

        .richtext-tags__list {
            margin-left: 0;
        }
    }
}

.richtext-tags__list {
    @extend %unstyle-list;
    @extend %clearfix;
    margin-left: em(80);
    margin-bottom: em(10);
}

.richtext-tags__item {
    @extend %unstyle-list-item;
    display: inline-block;
    float: left;
    margin-bottom: em(10);
}

.richtext-tags__headline,
.richtext-tags__link {
    @extend %text-type--7;
    display: inline-block;
    padding: em(10, size(7)) em(20, size(7));
    margin-right: em(10, size(7));
    text-transform: uppercase;
}

.richtext-tags__headline {
    float: left;
    padding-left: 0;
    font-weight: normal;
}

.richtext-tags__link {
    position: relative;
    display: block;
    background-color: color(1);
    overflow: hidden;
    transition: transform 0.1s ease;

    &:link,
    &:visited {
        color: color(2);
        text-decoration: none;
    }

    &:active {
        transform: scale(0.95);
    }

    &:focus:after,
    &:hover:after {
        transform-origin: -50% 0;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: em(20, size(7));
        height: em(20, size(7));
        background-color: color(2);
        transform: rotate(45deg);
        transform-origin: -100% 0;
        transition: transform-origin 0.2s ease-out;
    }

    &._is-active {
        background-color: color(2);

        &:link,
        &:visited {
            color: color(1);
        }
    }
}
