/**
 * Gallery opened within a rich text
 */

.richtext-gallery__wrapper {
    @extend %clearfix;
    clear: both;
    background-color: color(1);
}

.richtext-gallery__link {
    @include span-columns(3);
    position: relative;
    height: 0;
    padding-top: 25%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 100%;
        transition: filter 0.3s ease;
        filter: grayscale(100%) brightness(105%);
    }

    &:hover img,
    &:focus img {
        filter: grayscale(0%);
    }
}
