/**
 * Badges that can be next to content
 */

.richtext-badge__headline {
    @extend %text-type--3;
    display: block;
    position: absolute;
    left: 0;
    width: em(80, size(3));
    height: em(80, size(3));
    padding: em(6, size(3));
    color: color(1);
    background-color: color(3);
}

/**
 * Richtext with sidebar
 */

.richtext-badge__wrapper {
    position: absolute;
    left: 0;
    width: 17%;
}

.richtext-badge__image {
    display: block;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

@include breakpoint($richtext--breakpoint--M) {
    .richtext-badge__headline {
        width: em(100, size(3));
        height: em(100, size(3));
    }
}

@include breakpoint(false, 770) {
    .richtext-badge__wrapper {
        position: static;
        float: left;
    }

    .richtext-badge__wrapper + .richtext__content {
        margin-left: 0;
    }
}

@include breakpoint(511, 770) {
    .richtext-badge__wrapper {
        width: em(210);
        margin: 0 em(20) em(20) 0;
    }
}

@include breakpoint(351, 510) {
    .richtext-badge__wrapper {
        width: em(120);
        margin: 0 em(20) em(20) 0;

        + .richtext__content {
            p:first-of-type {
                clear: both;
            }
        }
    }
}

@include breakpoint(false, 350) {
    .richtext-badge__wrapper {
        width: 100%;
        margin: 0 em(20) em(20) 0;
    }
}

@include breakpoint(false, $richtext--breakpoint--S - 1) {
    .richtext-badge__headline {
        position: static;
        font-size: size(3, $size-breakpoint-S);
        width: em(60, size(3, $size-breakpoint-S));
        height: em(60, size(3, $size-breakpoint-S));
        float: left;
        margin: 0 em(10) em(5) 0;
    }
}
