/**
 * Meta section for richtext pages
 */

.richtext-meta__wrapper {
    @extend %container;
    padding: em(16) em(40);

    .social__wrapper {
        display: inline-block;
        float: right;
    }

    .richtext-tags_wrapper {
        display: inline-block;
        float: left;
    }
}

