{% extends '_layout' %}

{% block content %}
    {% include 'partials/pageTitle' %}

    {% embed "helper/sectionContainer.html" with {classes: 'form-login__wrapper', sectionLabel: 'Login für Studenten & Dozenten'} %}
        {% block content %}
                <form method="post" accept-charset="UTF-8" class="form__content">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="users/login">

                    <div class="form-login__item">
                        <label for="loginName">E-Mail-Adresse</label>
                        <input id="loginName" type="email" name="loginName" value="{{ craft.session.rememberedUsername }}" autofocus>
                    </div>

                    <div class="form-login__item">
                        <label for="password">Passwort</label>
                        <input id="password" type="password" name="password">
                    </div>

                    <button class="button-outline _call-to-action" type="submit">Einloggen</button>
                    <a href="{{ url('forgotpassword') }}" class="form-login__forgot-link">Passwort vergessen?</a>

                    {% if errorMessage is defined %}
                        <p>{{ errorMessage }}</p>
                    {% endif %}
                </form>

        {% endblock %}
    {% endembed %}
{% endblock %}
