{% extends '_layout' %}

{% set action = craft.request.getQuery('password') == 'lost' ? 'users/forgotPassword' : 'users/login' %}
{% set loginLabel = action == 'users/login' ? 'Login für Studenten & Dozenten' : 'Passwort zurücksetzen' %}

{% block content %}
    {% include 'partials/pageTitle' %}

    {% embed "helper/sectionContainer.html" with {classes: 'form-login__wrapper', sectionLabel: loginLabel} %}
        {% block content %}

                {% if errorMessage is defined or errors is defined %}

                    <div class="form__row form--error__wrapper">

                        {% if errorMessage is defined %}
                            <p class="form--error__text">{{ errorMessage }}</p>
                        {% endif %}

                        {% if errors is defined %}
                            {% for error in errors %}
                                <p class="form--error__text">{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                    </div>

                {% endif %}

                <form method="post" accept-charset="UTF-8" class="form__content">
                    {{ getCsrfInput() }}

                    <input type="hidden" name="action" value="{{ action }}">

                    <div class="form__row__column">
                        <label for="loginName">E-Mail-Adresse</label>
                        <input id="loginName" type="email" name="loginName" value="{{ craft.session.rememberedUsername }}" autofocus>
                    </div>

                    {# Skip the password field if the user wants to reset his password #}
                    {% if action == 'users/login' %}

                        <div class="form__row__column">
                            <label for="password">Passwort</label>
                            <input id="password" type="password" name="password">
                        </div>

                        <button class="button-outline _call-to-action" type="submit">Einloggen</button>
                        <a href="{{ url(craft.request.url, 'password=lost') }}" class="form-login__forgot-link">Passwort vergessen?</a>

                    {% else %}

                        <input type="hidden" name="redirect" value="{{ craft.entries.section('loginFormResetSuccess').first.url }}">

                        <div class="form__row">
                            <button class="button-outline _call-to-action" type="submit">Passwort zurücksetzen</button>
                        </div>

                    {% endif %}

                </form>

        {% endblock %}
    {% endembed %}
{% endblock %}
