{% set courseModel  = block.course.first().courseEntry.first() %}
{% set courseMaster = courseModel.courseMaster.first() %}

<div class="mosaic-tiles__content _{{ courseModel.slug }}{{ styleClasses }}">
    <div class="mosaic-tiles__text">
        <h2><a href="{{ courseModel.url }}">{{ courseModel.title }}</a></h2>

        {% if courseMaster | length %}
            <span class="_subtitle">{{ courseMaster.degree ? courseMaster.degree ~ ' ' }}{{ courseModel.courseMaster.first().lastName }}</span>
        {% endif %}

        <a href="{{ courseModel.url }}" class="button-square">{{ defaultStringButtonCourse.label }}</a>
    </div>
</div>
