{% set coursesParentId = 50 %}

{# Select the course that is happening right now #}
{% set currentCourse = craft.entries.descendantOf(coursesParentId).type('courseDetail').order('courseStartDate DESC').courseStartDate('<=' ~ now).courseEndDate('>=' ~ now).limit(1).first %}

{% if currentCourse|length %}
    <div class="mosaic-tiles__content _{{currentCourse.slug }}{{ styleClasses }}">
        <div class="mosaic-tiles__text">
            <span class="_subtitle">{{ defaultStringCurrentCourse.label}}</span>
            <h2><a href="{{currentCourse.url }}">{{currentCourse.title }}</a></h2>
            <span class="_subtitle">{{currentCourse.courseStartDate|date('d. M') }} – {{currentCourse.courseEndDate|date('d.M') }}</span>
            <a href="{{currentCourse.url }}" class="button-square">{{ defaultStringButtonCourse.label }}</a>
        </div>
    </div>
{% endif %}
