{% import 'macros/relativeDate' as macro %}

{% set courseModel  = courseModel is defined ? courseModel : block.course.first.courseEntry.first %}
{% set courseMaster = courseModel.courseMaster.first() %}
{% set subtitle = subtitle is defined ? subtitle : '' %}
{% set courseDate = courseDate is defined ? courseDate : {start: courseModel.courseStartDate, end: courseModel.courseEndDate} %}
{% set buttonTarget = buttonTarget is defined and buttonTarget ? buttonTarget : courseModel.url %}
{% set buttonLabel = buttonLabel is defined and buttonLabel ? buttonLabel : defaultStringButtonCourse.label %}
{% set buttonClassAppend = buttonClassAppend is defined and buttonClassAppend ? ' ' ~ buttonClassAppend : '' %}

{% if courseModel|length %}
    <div class="mosaic-tiles__content _{{courseModel.slug }}{{ styleClasses }}">
        <div class="mosaic-tiles__text">
            {% if subtitle %}
                <span class="_subtitle">{{ subtitle }}</span>
            {% endif %}

            <h2><a href="{{ courseModel.url }}">{{ courseModel.title }}</a></h2>

            {% if courseDate %}
                <span class="_subtitle">{{ macro.relativeDate(courseDate.start, false) }} – {{ macro.relativeDate(courseDate.end, false) }}</span>
            {% endif %}

            <a href="{{ buttonTarget }}" class="button-square{{ buttonClassAppend }}">{{ buttonLabel }}</a>
        </div>
    </div>
{% endif %}
