{% set entryModel    = entryModel is defined ? entryModel : block.entry.first() %}
{% set teaserImage   = entryModel.teaserImage is defined ? entryModel.teaserImage.first %}
{% set dateNowYear   = now|date("Y") %}
{% set dateEndYear   = entryModel.timeFrameStop|date("Y") %}
{% set dateStart     = entryModel.timeFrameStart|date("M d") %}
{% set dateEnd       = entryModel.timeFrameStop|date("M d")|default('') %}
{% set dateEnd       = dateStart != dateEnd ? ' – ' ~ dateEnd : null %}
{% set courseId      = entryModel.courseCategory|length ? entryModel.courseCategory.first.slug %}
{% set buttonText    = buttonText is defined ? buttonText : block.buttonText|default(defaultStringButtonDate.label) %}

{# Set styling classes if the item has an image #}
{% set styleClasses  = teaserImage|length ? styleClasses ~ ' _image-left _wide' : styleClasses %}

<div class="mosaic-tiles__content{{ courseId ? ' _' ~ courseId : '' }}{{ styleClasses }}">

    {% if teaserImage %}
        <a href="{{ entryModel.url }}" class="mosaic-tiles__image">
            {% include 'utilities/picturefill' with {
                imageModel: teaserImage,
                imageSet: [
                    ['mosaicCourseL', '500px', '1.5x'],
                    ['mosaicCourseM'],
                    ['mosaicCourseM', 'noscript']
                ]
            } %}
        </a href="">
    {% endif %}

    <div class="mosaic-tiles__text">
        <p class="mosaic-tiles__text__date{{ dateEnd ? '--timespan' }}">
            <span class="_date">
                {{ dateStart }}{{ dateEnd }}
            </span>


            {% if dateNowYear != dateEndYear %}
                <span class="_year">{{dateEndYear}}</span>
            {% endif %}
        </p>

        {% if entryModel.subtitle %}
            <span class="_subtitle">
                {{ entryModel.subtitle }}
            </span>
        {% endif %}

        <h2><a href="{{ entryModel.url }}">{{ entryModel.title }}</a></h2>
        <a href="{{ entryModel.url }}" class="button-square">{{ buttonText }}</a>
    </div>
</div>
