{% set sectionLabelModel = entry.mosaicTiles.type('sectionLabel').first %}
{% set sectionLabel      = sectionLabelModel|length ? sectionLabelModel.label %}

{% embed "helper/sectionContainer.html" with {classes: 'mosaic-tiles__wrapper', sectionLabel: sectionLabel} %}

    {% block content %}

        {% cache %}

            {% for block in entry.mosaicTiles if block.type != 'sectionLabel' %}

                {% set styleClasses = '' %}

                {% if block['style'] is defined %}
                    {% for style in block.style %}
                        {% set styleClasses = style != '' ? styleClasses ~ ' _' ~ style %}
                    {% endfor %}
                {% endif %}

                {% include 'matrix/mosaicTiles/' ~ block.type %}

            {% endfor %}

        {% endcache %}

    {% endblock %}

{% endembed %}
