{% set peoplePath = peoplePath|default('/ueber-uns/dozenten/') %}

<div class="mosaic-tiles__content _third{{ entryModel.photoUrl ? ' _image-left' }}">

    {% if entryModel.photoUrl %}
        <div class="mosaic-tiles__image">
            <a href="{{ peoplePath }}{{ entryModel.firstName|lower|url_encode }}.{{ entryModel.lastName|lower|url_encode }}"><img src="{{ entryModel.photoUrl('200') }}"></a>
        </div>
    {% endif %}

    <div class="mosaic-tiles__text">

        {% if entryModel.degree != '' or entryModel.gender != '' %}
            <span class="_info">{{ entryModel.gender }} {{ entryModel.degree }}</span>
        {% endif %}

        <h2><a href="{{ peoplePath }}{{ entryModel.firstName|lower|url_encode }}.{{ entryModel.lastName|lower|url_encode }}">{{ entryModel.name }}</a></h2>

        <span class="_info">
            {{ entryModel.profession }}
        </span>

    </div>
</div>
