/**
 * Mosaic of all LDK courses
 */

$mosaic-ldk--dimension: 200;

.mosaic-ldk__wrapper {
    @extend %container;
    margin-bottom: em(20);

    .lyt-label__headline {
        min-width: em($mosaic-ldk--dimension, size(7));
    }
}

.mosaic-ldk__list {
    @extend %unstyle-list;
    @extend %clearfix;

    // make this it’s own layer to prevent rendering side effects with composited layers
    position: relative;
    z-index: 1;
}

.mosaic-ldk__item {
    @extend %unstyle-list-item;
    display: block;
    float: left;
    width: em($mosaic-ldk--dimension);
    height: em($mosaic-ldk--dimension);

    // Compensate rounding issues to prevent moving the last item to the next row
    &:last-child {
        margin-right: -1px;
    }

    &._kommunikation-1 {
        background-color: color(1, $colors-scheme);
    }

    &._kommunikation-2 {
        background-color: color(2, $colors-scheme);
    }

    &._management-1 {
        background-color: color(3, $colors-scheme);
    }

    &._management-2 {
        background-color: color(4, $colors-scheme);
    }

    &._gestaltung-1 {
        background-color: color(5, $colors-scheme);
    }

    &._gestaltung-2 {
        background-color: color(6, $colors-scheme);
    }

    &._leadership-1 {
        background-color: color(7, $colors-scheme);
    }

    &._leadership-2 {
        background-color: color(8, $colors-scheme);
    }

    &._projekt-1 {
        background-color: color(9, $colors-scheme);
    }

    &._projekt-2 {
        background-color: color(10, $colors-scheme);
    }
}

.mosaic-ldk__link {
    @extend %composited-layer;
    display: block;
    height: 100%;
    padding: em(10) 0 em(10) em(14);
    transition: transform 0.1s ease;

    &:link,
    &:visited {
        color: color(1);
        text-decoration: none;
    }

    &:focus,
    &:hover {
        transform: scale(0.95);
    }

    &:active {
        transform: scale(0.9);
    }

    span {
        display: block;
    }

    ._id {
        @extend %text-type--2;
        font-weight: bold;
        line-height: 1;
        margin-left: -0.07em;
    }

    ._title,
    ._prof {
        @extend %text-type--6;
        text-transform: uppercase;
    }

    ._title {
        font-weight: bold;
    }
}

@include breakpoint (1100) {
    .mosaic-ldk__list {
        &._horizontal {
            .mosaic-ldk__item {
                &:nth-child(6) {
                    clear: both;
                    margin-left: em(2 * $mosaic-ldk--dimension);
                }
            }
        }
    }
}

@include breakpoint (1000) {
    .mosaic-ldk__list {
        &._center {
            margin-left: em($mosaic-ldk--dimension / 2);

            .mosaic-ldk__item {
                &:nth-child(5) {
                    clear: both;
                    margin-left: em(1 * $mosaic-ldk--dimension);
                }

                &:nth-child(9) {
                    clear: both;
                    margin-left: em(2 * $mosaic-ldk--dimension);
                }
            }
        }
    }
}

@include breakpoint (false, 999) {
    .mosaic-ldk__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@include breakpoint (680, 999) {
    .mosaic-ldk__list {
        &._center {
            .mosaic-ldk__item {
                &:nth-child(5) {
                    clear: both;
                    margin-left: em(1 * $mosaic-ldk--dimension);
                }

                &:nth-child(8) {
                    clear: both;
                    margin-left: em(2 * $mosaic-ldk--dimension);
                }
                &:nth-child(10) {
                    clear: both;
                    margin-left: em(3 * $mosaic-ldk--dimension);
                }
            }
        }
    }
}
