/**
 * Mosaic of tiles
 */

.mosaic-tiles__wrapper {
    @extend %container;
    margin-bottom: em(20);
}

.mosaic-tiles__image {
    &._image-background {
        position: absolute;
        bottom: 0;
        right: 0;

        // Avoid clipping image
        top: -1px;
        left: -1px;
        width: 101%;
        height: 101%;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.mosaic-tiles__content {
    @include span-columns(3);
    @extend %clearfix;
    position: relative;
    background-color: color(1);
    overflow: hidden;

    &._link {
        &:link,
        &:active,
        &:visited,
        &:hover {
            color: color(2);
        }
    }

    &._wide {
        @include span-columns(6);

        &._highlight {
            h2 {
                margin-bottom: em(10, size(3));
            }

            ._subtitle {
                margin-bottom: 0;
            }
        }

        &._text-size-big {
            h2 {
                @extend %text-type--3;
            }
        }
    }

    &._third {
        float: left;
        width: 33.333% - 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        padding-top: 16.3%;

        &:nth-of-type(1n + 3) {
            border-right-width: 0;
        }
    }

    &._image-left {
        .mosaic-tiles__text {
            left: 50%;
            width: 50%;
        }

        .mosaic-tiles__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: auto;
        }
    }

    &._text {
        ._date {
            @extend %text-type--6;
            color: color(4);
        }
    }

    &._richtext {
        p {
            @extend %text-type--5;
        }

        a {
            &:link,
            &:visited {
                color: color(2);
                text-decoration: underline;
            }
        }
    }

    &._video {
        background-color: color(2);
    }

    &._emphasize {
        background-color: color(3);
    }

    &._highlight {
        background-color: color(4);
    }

    &._leadership-1 {
        &._highlight {
            background-color: color(7, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(7, $colors-scheme), 10%);
        }
    }

    &._leadership-2 {
        &._highlight {
            background-color: color(8, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(8, $colors-scheme), 10%);
        }
    }

    &._gestaltung-1 {
        &._highlight {
            background-color: color(5, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(5, $colors-scheme), 10%);
        }
    }

    &._gestaltung-2 {
        &._highlight {
            background-color: color(6, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(6, $colors-scheme), 10%);
        }
    }

    &._management-1 {
        &._highlight {
            background-color: color(3, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(3, $colors-scheme), 10%);
        }
    }

    &._management-2 {
        &._highlight {
            background-color: color(4, $colors-scheme);
            color: color(1);

            .button-square,
            .button-square:hover:before {
                color: color(1);
            }
        }

        &._emphasize {
            background-color: lighten(color(4, $colors-scheme), 10%);
        }
    }

    &._projekt-1 {
        &._highlight {
            background-color: color(9, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(9, $colors-scheme), 10%);
        }
    }

    &._projekt-2 {
        &._highlight {
            background-color: color(10, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(10, $colors-scheme), 10%);
        }
    }

    &._kommunikation-1 {
        &._highlight {
            background-color: color(1, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(1, $colors-scheme), 10%);
        }
    }

    &._kommunikation-2 {
        &._highlight {
            background-color: color(2, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(2, $colors-scheme), 10%);
        }
    }
}

.mosaic-tiles__inner,
.mosaic-tiles__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a.mosaic-tiles__inner {
    &:link,
    &:visited,
    &:hover {
        color: color(2);
    }
}

.mosaic-tiles__text {
    padding: em(30) em(20);

    &._blocktext {
        display: inline;
        background-color: color(1);
        padding-left: 4px;
        padding-right: 4px;
        box-decoration-break: clone;

    }

    .mosaic-tiles__content._third & {
        padding: em(15);

        h2 {
            margin-bottom: 0;
        }
    }

    .button-square {
        position: absolute;
        bottom: em(24);
    }

    ._subtitle {
        @extend %text-type--5;
        display: block;
        line-height: lineHeight(4);
    }

    ._uppercase {
        text-transform: uppercase;
    }

    ._info {
        @extend %text-type--6;
        color: color(4);
        display: inline-block;
        line-height: 1.2;
        word-break: break-word;
    }

    h2 {
        @extend %text-type--5;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: em(10, size(5));
        line-height: 1.25;

        :link,
        :visited {
            display: block;
            color: inherit;
            text-decoration: none;
        }
    }

    p {
        @extend %text-type--6;
    }
}

.mosaic-tiles__text__date,
.mosaic-tiles__text__date--timespan {
    margin-bottom: em(10);

    ._date {
        font-weight: bold;
        text-transform: uppercase;
    }

    ._year {
        @extend %text-type--5;
        display: block;
    }
}

.mosaic-tiles__text__date {
    ._date {
        @extend %text-type--3;
    }
}

.mosaic-tiles__text__date--timespan {
    ._date {

        // Special font size that fits the text into the width of the tile
        // and aligns it with the vertical baseline grid via line-height
        font-size: 2em;
        line-height: 1.25;
    }
}

/**
 * Meta information, e.g. about the presented information. Used for the dates section.
 */

.mosaic-tiles__meta__wrapper {
    margin-bottom: em(20);

    .form__notice__content {
        width: 100%;
        padding: em(20);
    }

    p,
    input[type=text] {
        @extend %text-type--6;
    }

    input[type=text] {
        width: 100%;
        border: 0;
        background-color: transparent;
    }
}

@include breakpoint (1051) {
    .mosaic-tiles__content._shift {
        @include shift(3);
    }
}

@include breakpoint (false, 1050) {
    .mosaic-tiles__content {
        width: 50%;

        &._image-left {
            width: 100%;
            height: auto;
            padding-top: 0;
            min-height: em(180);

            .mosaic-tiles__image {
                position: static;
                float: left;
                width: 30%;
            }

            .mosaic-tiles__text {
                position: static;
                float: left;
                width: 70%;
            }
        }

        &._text {
            width: 50%;
        }
    }

    .mosaic-tiles__text {
        h2 {
            margin-bottom: 0;
        }
    }
}

@include breakpoint (762) {
    .mosaic-tiles__content {
        &:not(.wide) {
            height: 0;
            padding-top: 25%;
        }

        &.wide:after {
            content: '';
            display: block;
            padding-top: 100% / (16 / 9);
        }
    }
}

@include breakpoint (false, 761) {
    .mosaic-tiles__content._video {
        &:after {
            content: '';
            display: block;
            padding-top: 100% / (16 / 9);
        }
    }

    // High specifity to overwrite double class styles like .mosaic-tiles__content._image-left
    .mosaic-tiles__content {

        &.mosaic-tiles__content {
            width: 100%;
            min-height: em(180);
            border-top: 1px solid color(5);
        }

        &:first-of-type,
        &._highlight,
        &._emphasize,
        &._highlight + &,
        &._emphasize + & {
            border-top: 0;
        }

        &._image-left {
            .mosaic-tiles__image {
                position: static;
            }
        }
    }

    .mosaic-tiles__text {
        position: static;
        float: left;

        .button-square:not(._play) {
            position: relative;
            display: block; // Activate margin collapsing
            margin-top: em(20);
            bottom: 0;
        }
    }
}

@include breakpoint (321, 760) {
    .mosaic-tiles__content {
        &._image-left {
            .mosaic-tiles__image {
                float: left;
                width: 40%;
                margin-right: em(20);
            }

            .mosaic-tiles__text {
                width: 60%;
                margin-left: em(-20);
            }
        }
    }
}

@include breakpoint (321, 580) {
    .mosaic-tiles__content {
        &._image-left {
            .mosaic-tiles__image {
                width: 25%;
            }

            .mosaic-tiles__text {
                width: 75%;
            }
        }
    }
}

@include breakpoint (false, 320) {
    .mosaic-tiles__content {
        &._image-left {
            .mosaic-tiles__image {
                width: 100%;
                float: none;
                margin-right: 0;
           }

           .mosaic-tiles__text {
            width: 100%;
           }
        }
    }
}
