/**
 * Mosaic of tiles
 */

.mosaic-tiles__wrapper {
    @extend %container;
    margin-bottom: em(20);
}

.mosaic-tiles__image img {
    width: 100%;
    height: auto;
}

.mosaic-tiles__content {
    @include span-columns(3);
    @extend %clearfix;
    position: relative;
    height: 0;
    padding-top: 25%;
    background-color: color(1);

    &._wide {
        @include span-columns(6);
    }

    &._image-left {
        .mosaic-tiles__text {
            left: 50%;
            width: 50%;
        }

        .mosaic-tiles__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: auto;
        }
    }

    &._emphasize {
        background-color: color(3);
    }

    &._highlight {
        background-color: color(4);
    }

    &._leadership-1 {
        &._highlight {
            background-color: color(7, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(7, $colors-scheme), 10%);
        }
    }

    &._leadership-2 {
        &._highlight {
            background-color: color(8, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(8, $colors-scheme), 10%);
        }
    }

    &._gestaltung-1 {
        &._highlight {
            background-color: color(5, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(5, $colors-scheme), 10%);
        }
    }

    &._gestaltung-2 {
        &._highlight {
            background-color: color(6, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(6, $colors-scheme), 10%);
        }
    }

    &._management-1 {
        &._highlight {
            background-color: color(3, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(3, $colors-scheme), 10%);
        }
    }

    &._management-2 {
        &._highlight {
            background-color: color(4, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(4, $colors-scheme), 10%);
        }
    }

    &._projekt-1 {
        &._highlight {
            background-color: color(9, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(9, $colors-scheme), 10%);
        }
    }

    &._projekt-2 {
        &._highlight {
            background-color: color(10, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(10, $colors-scheme), 10%);
        }
    }

    &._kommunikation-1 {
        &._highlight {
            background-color: color(1, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(1, $colors-scheme), 10%);
        }
    }

    &._kommunikation-2 {
        &._highlight {
            background-color: color(2, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(2, $colors-scheme), 10%);
        }
    }
}

.mosaic-tiles__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: em(30) em(20);

    .button-square {
        position: absolute;
        bottom: em(24);
    }

    ._subtitle {
        @extend %text-type--5;
        display: block;
        text-transform: uppercase;
    }

    h2 {
        @extend %text-type--5;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: em(20, size(5));
        line-height: 1.25;

        :link,
        :visited {
            display: block;
            color: inherit;
            text-decoration: none;
        }
    }

    p {
        @extend %text-type--6;
    }
}

.mosaic-tiles__text__date,
.mosaic-tiles__text__date--timespan {
    margin-bottom: em(10);

    ._date {
        font-weight: bold;
        text-transform: uppercase;
    }

    ._year {
        @extend %text-type--5;
        display: block;
    }
}

.mosaic-tiles__text__date {
    ._date {
        @extend %text-type--3;
    }
}

.mosaic-tiles__text__date--timespan {
    ._date {

        // Special font size that fits the text into the width of the tile
        // and aligns it with the vertical baseline grid via line-height
        font-size: 2em;
        line-height: 1.25;
    }
}

.mosaic-tiles__content {
    &._wide._highlight {
        h2 {
            margin-bottom: em(10, size(3));
        }

        ._subtitle {
            margin-bottom: 0;
        }
    }

    &._wide._text-size-big {
        h2 {
            @extend %text-type--3;
        }
    }
}

@include breakpoint (1051) {
    .mosaic-tiles__content._shift {
        @include shift(3);
    }
}

@include breakpoint (false, 1050) {
    .mosaic-tiles__content {
        &._text {
            width: 50%;
        }
    }
}

@include breakpoint (791, 880) {
    .mosaic-tiles__content {
        width: 50%;
    }
}

@include breakpoint (false, 790) {

    // High specifity to overwrite double class styles
    .mosaic-tiles__content.mosaic-tiles__content {
        width: 100%;
        height: auto;
        padding-top: 0;
        min-height: em(180);
    }

    .mosaic-tiles__content._image-left .mosaic-tiles__image {
        position: static;
        float: left;
        width: 40%;
        margin-right: em(20);
    }

    .mosaic-tiles__text {
        position: static;
    }
}
