/**
 * Mosaic of courses
 */

.msc-course-w {
    @extend %container;
    margin-bottom: em(20);
}

.msc-course-p img {
    width: 100%;
    height: auto;
}

.msc-course-c {
    @include span-columns(3);
    @extend %clearfix;
    position: relative;
    height: 0;
    padding-top: 25%;
    background-color: color(1);

    &._wide {
        @include span-columns(6);
    }

    &._image-left {
        .msc-course-t {
            left: 50%
        }

        .msc-course-p {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: auto;
        }
    }

    &._emphasize {
        background-color: color(3);
    }

    &._highlight {
        background-color: color(4);
    }

    &._leadership-1 {
        &._highlight {
            background-color: color(7, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(7, $colors-scheme), 10%);
        }
    }

    &._leadership-2 {
        &._highlight {
            background-color: color(8, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(8, $colors-scheme), 10%);
        }
    }

    &.gestaltung-1 {
        &._highlight {
            background-color: color(5, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(5, $colors-scheme), 10%);
        }
    }

    &._gestaltung-2 {
        &._highlight {
            background-color: color(6, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(6, $colors-scheme), 10%);
        }
    }

    &._management-1 {
        &._highlight {
            background-color: color(3, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(3, $colors-scheme), 10%);
        }
    }

    &._management-2 {
        &._highlight {
            background-color: color(4, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(4, $colors-scheme), 10%);
        }
    }

    &._projekt-1 {
        &._highlight {
            background-color: color(9, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(9, $colors-scheme), 10%);
        }
    }

    &._projekt-2 {
        &._highlight {
            background-color: color(10, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(10, $colors-scheme), 10%);
        }
    }

    &._kommunikation-1 {
        &._highlight {
            background-color: color(1, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(1, $colors-scheme), 10%);
        }
    }

    &._kommunikation-2 {
        &._highlight {
            background-color: color(2, $colors-scheme);
        }

        &._emphasize {
            background-color: lighten(color(2, $colors-scheme), 10%);
        }
    }
}

.msc-course-t {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: em(30) em(20);

    .btn-square {
        position: absolute;
        bottom: em(24);
    }

    ._date {
        @extend %txt-type--3;
        margin-bottom: em(10, size(3));
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }

    ._subtitle {
        @extend %txt-type--6;
        display: block;
        text-transform: uppercase;
    }

    h2 {
        @extend %txt-type--6;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: em(20);

        :link,
        :visited {
            display: block;
            color: inherit;
            text-decoration: none;
        }
    }

    p {
        @extend %txt-type--6;
    }
}

.msc-course-c {
    &._wide._highlight {
        h2 {
            @extend %txt-type--3;
            margin-bottom: em(10, size(3));
        }

        ._subtitle {
            margin-bottom: 0;
        }
    }
}

@include breakpoint (1051) {
    .msc-course-c:first-of-type {
        @include shift(3);
    }
}

@include breakpoint (false, 1050) {
    .msc-course-c {
        &._text {
            width: 50%;
        }
    }
}

@include breakpoint (791, 880) {
    .msc-course-c {
        width: 50%;
    }
}

@include breakpoint (false, 790) {

    // High specifity to overwrite double class styles
    .msc-course-c.msc-course-c {
        width: 100%;
        height: auto;
        padding-top: 0;
        min-height: em(180);
    }

    .msc-course-c._image-left .msc-course-p {
        position: static;
        float: left;
        width: 40%;
        margin-right: em(20);
    }

    .msc-course-t {
        position: static;
    }
}
