{% set entryModel = entryModel is defined ? entryModel : block.entry.first() %}
{% set entryId    = entryModel.courseCategory.first().slug|default('') %}
{% set buttonText = buttonText is defined ? buttonText : block.buttonText|default(defaultStringButton.label) %}
{% set shortText  = shortText is defined ? shortText : block.shortText %}
{% set headline   = headline is defined ? headline : block.headline %}

<div class="msc-course-c _text {{ '_' ~ entryId }}{{ styleClasses }}">
    <div class="msc-course-t">
        <h2><a href="{{ entryModel.url }}">{{ headline }}</a></h2>

        <p>{{ shortText }}</p>
        <a href="{{ entryModel.url }}" class="btn-square">{{ buttonText }}</a>
    </div>
</div>
