{% import 'macros/relativeDate' as macro %}

<ul class="download-area__list">

    {% for download in downloads %}

        {% set showBadge = showBadge is defined and showBadge == true ? true : false %}

        <li class="download-area__item{{ showBadge ? ' _has-badge' }}">

            {% if showBadge %}
                {% set parentFolder = download.getFolder().path|split('/')[0]|lower %}
                {% set badgeID = craft.categories.group('courses').slug(parentFolder).first.courseShortname %}

                <a href="/campus/downloads/{{ parentFolder }}" class="download-area__link--badge _{{ parentFolder }}">
                    {{ badgeID }}
                </a>
            {% endif %}

            <a href="{{ download.url }}" class="download-area__link _{{ download.kind }}">{{ download }}</a>
            <span class="download-area__metadata">
                {{ macro.relativeDate(download.dateCreated) }}
                |
                {{ download.size|filesize }}
            </span>
        </li>

    {% endfor %}

    {% if showAllLink is defined and showAllLink == true %}
        <li class="download-area__item">
            <a href="/campus/downloads/" class="download-area__link--more">Alle Downloads</a>
        </li>
    {% endif %}

</ul>
