
<section class="download-area__content--expandable">
    <div class="download-area__bar__wrapper">

        {% if block.teacher|length %}
            {% set teacher = block.teacher.first %}
            {% set teacherAnchor = teacher.lastName|escape('url')|lower %}
            <h2 class="download-area__bar__headline" id="{{ teacherAnchor }}">
                <a href="#{{teacherAnchor}}" class="download-area__bar__headline__link">
                    {{ teacher.degree ? teacher.degree ~ ' ' }}{{ teacher.name }}
                </a>
            </h2>
        {% endif %}

    </div>

    {% include 'matrix/downloadArea/downloadList' with {downloads: block.downloads} %}
</section>
