
<section class="download-area__content">
    <div class="download-area__bar__wrapper">
        {% if block.teacher|length %}
            <h2 class="download-area__bar__headline">
                <a href="#" class="download-area__bar__headline__link">
                    {{ block.teacher.first.degree ? block.teacher.first.degree ~ ' ' }}{{ block.teacher.first.name }}
                </a>
            </h2>
        {% endif %}

    </div>
    <ul class="download-area__list">

        {% for download in block.downloads %}

            {% set dateFormat = download.dateCreated|date('Y') == now|date('Y') ? 'd. M, H:i' : 'd. M Y, H:i' %}

            <li class="download-area__item">
                <a href="{{ download.url }}" class="download-area__link _{{ download.kind }}">{{ download }}</a>
                <span class="download-area__metadata">
                    {{ download.dateCreated|date(dateFormat) ~ ' Uhr ' }}
                    |
                    {{ download.size|filesize }}
                </span>
            </li>

        {% endfor %}
    </ul>
</section>
