{% set classNameStyle  = '' %}

{% if titleModel.style is defined %}

    {% for style in titleModel.style %}
        {% set classNameStyle = classNameStyle ~ ' _' ~ style %}
    {% endfor %}

{% endif %}

{% if titleModel.backgroundImage is defined %}
    {% include 'matrix/featureStage/imageUtil' with {image: titleModel.backgroundImage.first } %}
{% else %}
    {% set classNameStyle = classNameStyle ~ ' _text-only' %}
{% endif %}

<div class="feature-stage__content{{ classNameStyle }}">
    <div class="feature-stage__text">

        {% if titleModel.subheadline is defined and titleModel.subheadline %}
            <h2>{{ titleModel.subheadline }}</h2>
        {% endif %}

        <h1>{{ titleModel.headline is defined and titleModel.headline ? titleModel.headline : entry.title }}</h1>

        {% if titleModel.shareButtons is defined and titleModel.shareButtons|length and titleModel.shareButtons[0] == '1' %}
            {% include 'partials/shareButtons' %}
        {% endif %}
    </div>
</div>
