{% set classNameStyle  = '' %}

{% if titleModel.style is defined %}

    {% for style in titleModel.style %}
        {% set classNameStyle = classNameStyle ~ ' _' ~ style %}
    {% endfor %}

{% endif %}

{% if titleModel.backgroundImage is defined and titleModel.backgroundImage|length %}
    {% include 'matrix/featureStage/imageUtil' with {image: titleModel.backgroundImage.first } %}
{% else %}
    {% set classNameStyle = classNameStyle ~ ' _blocktext' %}
{% endif %}

<div class="feature-stage__content{{ classNameStyle }}">
    <div class="feature-stage__text">

        {# Add the date to the titleStage if we are on a date detail page #}
        {% if entry.type == 'dates' %}

            {% set dateStart = entry.timeFrameStart|date('D j. M.') %}
            {% set timeStart = not entry.fullDay ? entry.timeFrameStart|date('H.i') ~ ' Uhr' : '' %}
            {% set dateEnd   = entry.timeFrameStop|date('D j. M.') %}

            <span class="_date">{{ dateStart }}</span>
            {% if timeStart %}
                <span class="_date">{{ timeStart }}</span>
            {% endif %}

            {% if dateStart != dateEnd and entry.fullDay %}
                <span class="_date">{{ dateEnd }}</span>
            {% endif %}

        {% endif %}

        {% if titleModel.subheadline is defined and titleModel.subheadline %}
            <h2>{{ titleModel.subheadline }}</h2>
        {% endif %}

        <h1>{{ titleModel.headline is defined and titleModel.headline ? titleModel.headline : entry.title }}</h1>

        {% if titleModel.shareButtons is defined and titleModel.shareButtons|length and titleModel.shareButtons[0] == '1' %}
            {% include 'partials/shareButtons' %}
        {% endif %}
    </div>
</div>
