{% macro personUrl(personName, personPath) %}
{% spaceless %}
{# Spaceless is important to make sure no additional whitespace is returned #}
    {% set personPath = personPath is not null ? personPath : '' %}

    {# Set up the url to the persons detail page #}
    {% set personUrl =
        personPath ~
        personName|lower|trim|url_encode
    %}

    {# Replace whitespaces with dots (e.g. if the person has a double name) #}
    {% set personUrl = personUrl|replace({'%20':'.'}) %}

    {{ personUrl }}

{% endspaceless %}
{% endmacro %}
