{% macro relativeDate(dateModel, showTime) %}

    {% set dateFormat = dateModel.year() == now.year() ? 'd. M' : 'd. M Y' %}
    {% set timeFormat = 'H:i' %}
    {% set showTime = showTime is defined ? showTime : true %}
    {% set date = dateModel|date(dateFormat) %}
    {% set time = dateModel|date(timeFormat) ~ ' Uhr' %}

    {# Today? #}
    {% if dateModel|date('Y-m-d') == now|date('Y-m-d') %}
        Heute{{ showTime ? ', ' + time }}

    {# Yesterday? #}
    {% elseif dateModel|date('Y-m-d') == '-1days'|date('Y-m-d') %}
        Gestern{{ showTime ? ', ' + time }}

    {# Everything else #}
    {% else %}
        {{ date }}{{ showTime ? ' ' ~ time }}
    {% endif %}

{% endmacro %}
