{% set classNameStyle  = '' %}

{% for style in block.style %}
    {% set classNameStyle = classNameStyle ~ ' _' ~ style %}
{% endfor %}


<div class="feature-stage__item">

    {% include 'matrix/featureStage/imageUtil' with {image: block.backgroundImage.first } %}

    <div class="feature-stage__content{{ classNameStyle }}">
        <div class="feature-stage__text">
            <h1>{{ block.headline }}</h1>
            {{ block.shortText }}

            {% set buttonTarget = block.entryTeaser.first() %}

            {% if buttonTarget %}
                <a href="{{ buttonTarget.uri }}" class="button-outline">{{ block.buttonTitle }}</a>
            {% endif %}
        </div>
    </div>
</div>
