<div class="ftr-stage-i">

    {% include 'matrix/featureStage/imageUtil' %}

    <div class="ftr-stage-c{{ block.style ? ' _' ~ block.style }}">
        <div class="ftr-stage-t">
            <h1>{{ block.headline }}</h1>
            {{ block.shortText }}

            {% set buttonTarget = block.entryTeaser.first() %}

            {% if buttonTarget %}
                <a href="{{ buttonTarget.uri }}" class="btn-outline">{{ block.buttonTitle }}</a>
            {% endif %}
        </div>
    </div>
</div>
