/**
 * Quicklink section
 */

.layout-quicklinks__wrapper {
    @extend %container;
    margin-bottom: em(20);
    padding: em(60) em(50);
    background-color: color(2);
}

.layout-quicklinks__content {
    @include span-columns(2.5);
}

.layout-quicklinks__headline {
    @extend %text-type--6;
    margin-bottom: em(20, size(6));
    font-weight: bold;
    text-transform: uppercase;

    &,
    &:link,
    &:visited {
        color: color(1);
        text-decoration: none;
    }
}

.layout-quicklinks__list {
    @extend %unstyle-list;
}

.layout-quicklinks__link {
    @extend %text-type--6;
    text-decoration: none;
    color: color(1);
}
