/**
 * Layout Skeleton
 */

.layout-footer__wrapper {
    @extend %container;
    background-color: color(1);
    padding: em(50);
}

.layout-footer__item {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;

    &:first-child {
        width: 100%;
    }

    img {
        width: auto;
        height: em(50);
    }
}
