/**
 * Layout Skeleton
 */

.layout-footer__wrapper,
.layout-footer__meta {
    @extend %container;
}

.layout-footer__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: em(20);
    padding: em(50);
    background-color: color(1);
}

.layout-footer__item {
    display: block;
    text-decoration: none;

    img {
        width: auto;
        height: em(50);
    }
}


/**
 * Meta links at the end of the page
 */
.layout-footer__meta {
    @extend %clearfix;
    padding: 0 em(50) em(20);
    text-align: center;
}

.layout-footer__meta__link {
    @extend %text-type--6;
    display: inline;
    text-transform: uppercase;

    &,
    &:link,
    &:active {
        color: color(2);
        text-decoration: none;
    }
}

@include breakpoint(451) {
    .layout-footer__item {
        flex-basis: 100%;

        img {
            float: right;
        }
    }
}

@include breakpoint(false, 450) {
    .layout-footer__wrapper {
        text-align: center;
        flex-direction: column;
    }

    .layout-footer__item:first-child {
        margin-bottom: em(40);
    }
}
