/**
 * Header
 */
.layout-head__wrapper {
    @extend %container;
    position: relative;
    height: em(60);
    background: color(1);
    z-index: 3;
}

.layout-head__home__figure {
    height: em(50);
    margin: 0;
    float: left;

    img {
        width: auto;
        height: 100%;
    }
}

.layout-head__home__link {
    @extend %clearfix;
    display: inline-block;
    float: right;
    padding-right: em(20);
    text-align: right;

    &:link,
    &:visited {
        text-decoration: none;
    }
}

/**
 * Logo
 */

@include breakpoint($BP_DESKTOP_MIN) {
    .layout-head__wrapper {
        padding-top: em(5);

        &.text-ldk__headline {
            margin-left: em(32);
        }
    }
}

@include breakpoint(false, $navigation-main--breakpoint--mobile) {
    .layout-head__wrapper {

        // Compensate the em context from the body
        font-size: $navigation-main--em-context--mobile;

        height: em(50);
        text-align: center;
    }

    .layout-head__home__figure {
        display: none;
    }

    .layout-head__home__link {
        float: none;
        font-size: 0.9em;
        text-align: left;
        margin: 0 em(50, 0.9em);
        padding: 0;
    }
}

@include breakpoint(false, 450) {
    .layout-head__home__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        line-height: 1;
        text-align: center;

        .text-ldk__headline {
            ._label {
                display: none;
            }
        }
    }
}
