/**
 * Headline above a container
 */

$layout-label--height: 38;

.layout-label__wrapper {
    position: relative;
    margin-top: em($layout-label--height + 20);
}

.layout-label__headline {
    @extend %text-type--7;
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -1; // Make sure it does not overlay the corresponding wrapper
    min-height: em($layout-label--height, size(7));
    padding: em(12, size(7)) em(34, size(7));
    color: color(1);
    font-weight: bold;
    text-transform: uppercase;
    background-color: color(2);
}
