/**
 * Base styles
 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: color(3);
}

.no-js picture img[srcset] {
    display: none;
}

.is-visually-hidden {
    @extend %is-visually-hidden;
}
