/*
 * Neat Settings
 * Variables for the grid framework Neat
 *
 * Docs: http://neat.bourbon.io/docs/
 */

$border-box-sizing: false;

$grid-columns     : 12;
$gutter           : em(12);
$max-width        : em(1200);
$column           : em(89);

$visual-grid      : false; // enable for debugging
$visual-grid-index: front;
