// Breakpoint config
// must stay in sync with js/_config.js
$BP_SMARTPHONE_MIN : 0;
$BP_SMARTPHONE_MAX : 449;
$BP_TABLET_MIN     : 450;
$BP_TABLET_MAX     : 780;
$BP_DESKTOP_MIN    : 781;
$BP_DESKTOP_MAX    : 1199;
$BP_WIDESCREEN_MIN : 1200;
$BP_WIDESCREEN_MAX : 1500;

// Default colors
$colors-default:
    #fff,    // 1 | white | primary #1
    #030303, // 2 | black | primary #2
    #e7e7e7, // 3 | light gray
    #838383, // 4 | dark gray
    #dbdbdb; // 5 | medium gray

// Scheme colors
$colors-scheme:
    #fec52e, // 1  | orange light
    #fd9025, // 2  | orange dark
    #715ce5, // 3  | blue light
    #0d169d, // 4  | blue dark
    #50c121, // 5  | green dark
    #9bd046, // 6  | green light
    #fb4743, // 7  | red dark
    #f677b6, // 8  | red light
    #1894dd, // 9  | aqua dark
    #6fdefd, // 10 | aqua light
    #ed1c23; // 11 | error color

// Typography
$font-family-default: "Frutiger Condensed", Helvetica, Arial, sans-serif;

// Default font sizes
$size-default:
    150, // 1 | ?
    102, // 2 | ?
    50,  // 3 | ?
    24,  // 4 | ?
    22,  // 5 | p
    18,  // 6 | ?
    16;  // 7 | ?

// Font sizes for the medium sized breakpoints
$size-breakpoint-M:
    150, // 1 | ?
    80,  // 2 | ?
    40,  // 3 | ?
    24,  // 4 | ?
    22,  // 5 | p
    18,  // 6 | ?
    16;  // 7 | ?

// maps to $size-default keys
$line-height-default:
    1.2, // 1
    1.2, // 2
    1.1, // 3
    1.4, // 4
    1.6, // 5
    1.4, // 6
    1;   // 7

$font-size-base: 5;  // nth from size-default <int>
$em-base       : 22; // 22px
