{% extends "_layout" %}
{% import 'macros/createUrl' as createUrl %}

{% set entry = entry is defined ? entry : craft.entries.section('mainNavigation').slug('dozenten').first %}
{% set person = person is defined ? person : craft.users.group('teacher').search(slug).first %}

{% if not person|length %}
    {% exit 404 %}
{% endif %}

{#
 # Make sure every teacher has only one unique URL
 #
 # Background: There are some malformed teacher URLs out there that need to get
 # fixed in the Google Index. So let’s redirect those correctly.
 #}
{% if entry.slug == 'dozenten' %}
    {% set currentPersonSegment = craft.request.lastSegment %}
    {% set correctPersonSegment = createUrl.personUrl(person.name) %}

    {% if currentPersonSegment != correctPersonSegment %}
        {% set correctPersonUrl = craft.request.path|replace({(currentPersonSegment): correctPersonSegment}) %}

        {% redirect correctPersonUrl %}
    {% endif %}
{% endif %}

{# Set pageTitle in _layout template #}
{% set globalPageTitle = person.degree is not empty ? person.degree ~ ' ' : '' %}
{% set globalPageTitle = globalPageTitle ~ person.name %}

{% block content %}

    {% embed "helper/sectionContainer.html" with {classes: 'feature-stage__wrapper'} %}
        {% block content %}
            <div class="feature-stage__content _blocktext{{ person.userImage|length ? ' _image-left' : '' }}">
                <div class="feature-stage__text">
                    <h1>{{ person.degree is not empty ? person.degree ~ ' ' }}{{ person.name }}</h1>

                    {% if showEditLinks is defined and showEditLinks == true %}
                        <ul class="feature-stage__text__list">
                            <li class="feature-stage__text__item">
                                <a href="/campus/mein-profil/edit" class="feature-stage__text__link _edit-profile"><span>Profil editieren</span></a>
                            </li>
                            <li class="feature-stage__text__item">
                                <a href="/campus/mein-profil/change-password" class="feature-stage__text__link _edit-password"><span>Passwort ändern</span></a>
                            </li>
                        </ul>
                    {% endif %}

                </div>

                {% if person.userImage|length %}
                    <div class="feature-stage__image">

                        {% include 'utilities/picturefill' with {
                            imageModel: person.userImage.first,
                            imageSet: [
                                ['richtextSidebarImageM', '400px', '1.5x'],
                                ['richtextSidebarImageS', 'noscript'],
                                ['richtextSidebarImageS']
                            ]
                        } %}

                    </div>
                {% endif %}

            </div>
        {% endblock %}
    {% endembed %}

    {# Success message if something was saved #}
    {% if craft.session.hasFlash('notice') %}
        {% embed "helper/sectionContainer.html" with {classes: 'form__notice__wrapper'} %}
            {% block content %}
                <div class="form__notice__content _success">
                    <span class="form__notice__text">{{ flashMessageProfileSaved.shortText }}</span>
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% include 'people/peopleIntroduction' %}
    {% include 'matrix/richtext/index' with {entry: {richtext: person.richtext }} %}

{% endblock %}
