{% extends "_layout" %}

{% set entry = craft.entries.section('people').first %}
{% set person = craft.users.group('teacher').search(slug).first %}

{% if not person|length %}
    {% exit 404 %}
{% endif %}

{# Set pageTitle in _layout template #}
{% set globalPageTitle = person.degree is not empty ? person.degree ~ ' ' : '' %}
{% set globalPageTitle = globalPageTitle ~ person.name %}

{% block content %}

    {% embed "helper/sectionContainer.html" with {classes: 'feature-stage__wrapper'} %}
        {% block content %}
            <div class="feature-stage__content _blocktext{{ person.userImage|length ? ' _image-left' : '' }}">
                <div class="feature-stage__text">
                    <h1>{{ person.name }}</h1>
                </div>

                {% if person.userImage|length %}
                    <div class="feature-stage__image">

                        {% include 'utilities/picturefill' with {
                            imageModel: person.userImage.first,
                            imageSet: [
                                ['richtextSidebarImageM', '400px', '1.5x'],
                                ['richtextSidebarImageS', 'noscript'],
                                ['richtextSidebarImageS']
                            ]
                        } %}

                    </div>
                {% endif %}

            </div>
        {% endblock %}
    {% endembed %}

    {% include 'people/peopleIntroduction' %}
    {% include 'matrix/richtext/index' with {entry: {richtext: person.richtext }} %}

{% endblock %}
