{% extends "_layout" %}

{% set entry = craft.entries.section('people').first %}
{% set person = craft.users.group('teacher').search(slug).first %}

{% if not person|length %}
    {% exit 404 %}
{% endif %}

{% block content %}

    {% embed "helper/sectionContainer.html" with {classes: 'feature-stage__wrapper'} %}

        {% block content %}

            <div class="feature-stage__content _blocktext _image-left">
                <div class="feature-stage__text">

                    {# <h2>{{ titleModel.subheadline }}</h2> #}

                    <h1>{{ person.name }}</h1>

                </div>
            </div>

        {% endblock %}

    {% endembed %}


    {# {% include 'people/peopleIntroduction' %} #}
    {% include 'matrix/richtext/index' with {entry: {richtext: person.richtext }} %}

{% endblock %}
