{% set backgroundImage = block.backgroundImage.first() %}

{% if backgroundImage | length %}

    <div class="ftr-stage-p _aspect-3to1">
        <div class="ftr-stage-p">
            {% include 'utilities/picturefill' with {
                imageModel: backgroundImage,
                imageSet: [
                    ['teaserStageL', '1200px', '1.5x'],
                    ['teaserStageM', '1000px'],
                    ['teaserStageS', '800px'],
                    ['teaserStageM', 'noscript'],
                    ['teaserStageS']
                ]
            } %}
        </div>
    </div>

{% endif %}

<div class="ftr-stage-c _text-short">
    <div class="ftr-stage-t">
        <h2>{{ block.headline|nl2br }}</h2>

        {% if block.shortText %}
            <p>{{ block.shortText }}</p>
        {% endif %}

        {% for link in block.entry %}
            {% set buttonText = loop.first ? block.buttonText|default(defaultStringButton.label) : block.buttonTextSecond|default(defaultStringButton.label) %}

            <a href="{{ link.url }}" class="btn-outline{{ block.entry|length > 1 and loop.first ? ' _call-to-action' }}">{{ buttonText }}</a>
        {% endfor %}
    </div>
</div>
