{% embed "helper/sectionContainer.html" with {classes: 'mosaic-tiles__meta__wrapper form__notice__wrapper'} %}

    {% block content %}

            <div class="form__notice__content _point-up">
                <span class="form__notice__text"><p><strong>Kalender abonnieren</strong> (iCal-Format):</p> <input type="text" readonly value="https://www.leadership-digitale-kommunikation.de/feed/kalender.ical" class="form__input--clean js-form-select-value-on-click"></span>
            </div>

    {% endblock %}

{% endembed %}
