{% extends '_layout' %}

{% set query   = craft.request.getParam('q') %}
{% set results = craft.entries.section(
    'dates',
    'homepage',
    'imprint',
    'mainNavigation',
    'news'
    ).search(query).order('score') %}

{% block content %}

    {% embed "helper/sectionContainer.html" with {classes: 'search-results__wrapper'} %}

        {% block content %}
            {% include 'search/searchInput.html' %}
        {% endblock %}

    {% endembed %}

    {% embed "helper/sectionContainer.html" with {classes: 'mosaic-tiles__wrapper', sectionLabel: 'Suchergebnisse (' ~ results|length ~ ')'} %}
        {% block content %}
            {% include 'search/searchResults.html' %}
        {% endblock %}
    {% endembed %}

{% endblock %}
