{% set resultsTemplate = resultsTemplate is defined ? resultsTemplate : 'searchResultsEntries' %}

{% if results|length %}

    {% paginate results.limit(21) as resultsPerPage %}

    {# Output results #}
    {% for entry in resultsPerPage %}

        {% include 'search/' ~ resultsTemplate %}

    {% endfor %}

    {# Pagination logic #}
    {% if paginate.totalPages > 1 %}

        <ul class="button-paginate__list">
        {% if paginate.prevUrl %}
            <li class="button-paginate__item"><a href="{{ paginate.prevUrl }}" class="button-paginate__link _previous"><span class="is-visually-hidden">Vorherige Seite</span></a></li>
        {% endif %}

        {% for page, url in paginate.getPrevUrls(5)  %}
            <li class="button-paginate__item"><a href="{{ url }}" class="button-paginate__link">{{ page }}</a></li>
        {% endfor %}

            <li class="button-paginate__item"><span class="button-paginate__link _is-active">{{ paginate.currentPage }}</li>

        {% for page, url in paginate.getNextUrls(5)  %}
            <li class="button-paginate__item"><a href="{{ url }}" class="button-paginate__link">{{ page }}</a></li>
        {% endfor %}


        {% if paginate.nextUrl %}
            <li class="button-paginate__item"><a href="{{ paginate.nextUrl }}" class="button-paginate__link _next"><span class="is-visually-hidden">Nächste Seite</span></a></li>
        {% endif %}
        </ul>

    {% endif %}

{% else %}

    <div class="mosaic-tiles__content _text _wide">
        <div class="mosaic-tiles__text">
            <h2>Leider gab es keine Treffer zu “{{ query }}”</h2>
            <p>Versuchen Sie es bitte mit einem anderen Suchbegriff.</p>
        </div>
    </div>

{% endif %}
