/**
 * Typography text types
 */

%text-type--1 {
    font-weight: bold;
    font-size: size(1);
    line-height: lineHeight(1);
}

%text-type--2 {
    font-weight: bold;
    font-size: size(2);
    line-height: lineHeight(2);

    @include breakpoint(false, 790) {
        font-size: size(2, $size-breakpoint-M);
    }
}

%text-type--3 {
    font-weight: bold;
    font-size: size(3);
    line-height: lineHeight(3);

    @include breakpoint(false, 790) {
        font-size: size(3, $size-breakpoint-M);
    }
}

%text-type--4 {
    font-weight: bold;
    font-size: size(4);
    line-height: lineHeight(4);
}

%text-type--5 {
    font-size: size(5);
    line-height: lineHeight(5);
}

%text-type--6 {
    font-size: size(6);
    line-height: lineHeight(6);
}

%text-type--7 {
    font-size: size(7);
    line-height: lineHeight(7);
}
