/**
 * Typography
 */

body {
    font-family: $font-family-default;
    font-size: $em-base / 16 * 1em; // 30px
    line-height: lineHeight($font-size-base);
    font-weight: 300;
    color: color(2, $colors-default);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin-bottom: em(20); // Implement baseline grid
}
