/**
 * Main navigation in the header
 */

$navigation-main--breakpoint--mobile: 750px;
$navigation-main--toggle-height: 3px;

// Compensates the em context from the body
$navigation-main--em-context--mobile: stripUnit($em-base-S) / 16 * 1em;

@import 'navigation-main--base';
@import 'navigation-main--desktop';
@import 'navigation-main--mobile';
