/**
 * Main navigation in the header
 */

.navigation-main__wrapper {
    position: absolute;
    z-index: 1;
    top: em(50);
    left: em(50)
}

.navigation-main__list {
    @extend %unstyle-list;
}

.navigation-main__item {
    @extend %unstyle-list-item;
    display: block;
    float: left;
}

%navigation-main__link {
    @extend %text-type--7;
    position: relative;
    display: block;
    padding: em(18, size(7)) em(32, size(7));
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    max-height: em(50, size(7));

    &:link,
    &:visited {
        text-decoration: none;
    }
}

.navigation-main__link {
    @extend %navigation-main__link;
    background-color: color(2);

    &:link,
    &:visited {
        color: color(1);
    }

    .navigation-main__item._is-active &,
    &:hover,
    &:focus {
        background-color: color(1);
        color: color(2);
    }
}

/**
 * Hover state Level 1
 */

.navigation-main__item {
    &:hover {
        .navigation-main__link {
            background-color: color(1);
            color: color(2);
        }

        .navigation-main__l2__list {
            @extend %navigation-main__l2--show;
        }
    }
}

/**
 * Search item in first level navigationigation
 */
.navigation-main__search__link {
    @include icon(search);
    padding-left: em(26, size(7));
    padding-right: em(26, size(7));

    &:before {
        display: block;
        color: inherit;
        font-size: 1.1em;
        width: 1em; // Prevent flicker on iconfont loading
    }
}

.navigation-main__search__text {
    @extend %is-visually-hidden;
}

/**
 * Level 2
 */

%navigation-main__l2--hide {
    z-index: -1;
    visibility: hidden;
}

%navigation-main__l2--show {
    z-index: 1;
    visibility: visible;
}

.navigation-main__l2__list {
    @extend %navigation-main__l2--hide;
    @extend %unstyle-list;
    position: absolute;
    background-color: color(1);
}

.navigation-main__l2__item {
    @extend %unstyle-list-item;
    @extend %clearfix;
}

.navigation-main__l2__link {
    @extend %navigation-main__link;
    white-space: nowrap;

    &:link,
    &:visited {
        color: color(2);
    }

    .navigation-main__l2__item._is-active &,
    &:hover {
        background-color: color(3);
    }
}
