/**
 * Typography text types
 */

%typ-type--1 {
    font-size: size(6);
    line-height: lineHeight(6);
    color: (3);
}

%typ-type--2 {
    font-size: size(5);
    line-height: lineHeight(5);
    color: (3);
}
