{% set labelModel = entry.mosaicCourse.type('sectionLabel').first() %}
{% set labelTitle = labelModel|length ? labelModel.label %}

<section class="msc-course-w{{ labelTitle ? ' lyt-label-w' }}">

    {% if labelTitle %}
        <b class="lyt-label-h">{{ labelTitle }}</b>
    {% endif %}

    {% for block in entry.mosaicCourse if block.type != 'sectionLabel' %}

        {% set styleClasses = '' %}
        {% set entryModel   = '' %}
        {% set image        = '' %}

        {% if block.type == 'date' or block.type == 'text' %}
            {% set entryModel = block.entry.first() %}
            {% set image      = entryModel.image.first() %}
        {% endif %}

        {% for style in block.style %}
            {% set styleClasses = styleClasses ~ ' _' ~ style %}
        {% endfor %}

        {% if image != '' %}
            {% set styleClasses = styleClasses ~ ' _image-left _wide' %}
        {% endif %}

        {% if block.type == 'course' %}
            {% set courseCollection = craft.entries.descendantOf(50).type('courseDetail').order('courseStartDate') %}

            {# Select the course that is happening right now #}
            {% for course in courseCollection if (course.courseStartDate < now and course.courseEndDate > now) %}
                <div class="msc-course-c _{{ course.slug }}{{ styleClasses }}">
                    <div class="msc-course-t">
                        <span class="_subtitle">{{ defaultStringCurrentCourse.label}}</span>
                        <h2><a href="{{ course.url }}">{{ course.title }}</a></h2>
                        <span class="_subtitle">{{ course.courseStartDate|date('d. M') }} – {{ course.courseEndDate|date('d.M') }}</span>
                        <a href="{{ course.url }}" class="btn-square">{{ defaultStringButtonCourse.label }}</a>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

        {% if block.type == 'date' %}

            {% set dateStart  = entryModel.timeFrameStart|date("M d") %}
            {% set dateEnd    = entryModel.timeFrameStop|date("M d")|default('') %}
            {% set dateEnd    = dateEnd != dateEnd ? ' – ' ~ dateEnd : null %}
            {% set courseId   = entryModel.courseCategory.first().slug %}
            {% set buttonText = block.buttonText|default(defaultStringButtonDate.label) %}

            <div class="msc-course-c {{ '_' ~ courseId }}{{ styleClasses }}">

                {% if image %}
                    <div class="msc-course-p">
                        {% include 'utilities/picturefill' with {
                            imageModel: image,
                            imageSet: [
                                ['mosaicCourseL', '500px', '1.5x'],
                                ['mosaicCourseM'],
                                ['mosaicCourseM', 'noscript']
                            ]
                        } %}
                    </div>
                {% endif %}


                <div class="msc-course-t">
                    <span class="_date">
                        {{ dateStart }}
                        {{ dateEnd ? dateEnd }}

                    </span>
                    <span class="_subtitle">
                        {{ entryModel.subtitle }}
                    </span>
                    <h2><a href="{{ entryModel.url }}">{{ entryModel.title }}</a></h2>
                    <a href="{{ entryModel.url }}" class="btn-square">{{ buttonText }}</a>
                </div>
            </div>


        {% endif %}

        {% if block.type == 'text' %}

            {% set entryId    = entryModel.courseCategory.first().slug|default('') %}
            {% set buttonText = block.buttonText|default(defaultStringButton.label) %}

            <div class="msc-course-c _text {{ '_' ~ entryId }}{{ styleClasses }}">
                <div class="msc-course-t">
                    <h2><a href="{{ entryModel.url }}">{{ block.headline }}</a></h2>

                    <p>{{ block.shortText }}</p>
                    <a href="{{ entryModel.url }}" class="btn-square">{{ buttonText }}</a>
                </div>
            </div>

        {% endif %}

    {% endfor %}

</section>

