<section class="msc-course-w lyt-label-w">
    <b class="lyt-label-h">Aktuell</b>

    {% for block in entry.mosaicCourse.type('course') %}
        {% set courseCollection = craft.entries.descendantOf(27).type('modulePage').order('courseStartDate') %}

        {# Select the course that is happening right now #}
        {% for course in courseCollection if (course.courseStartDate < now and course.courseEndDate > now) %}
            <div class="msc-course-c _{{ course.slug }} _highlight _wide">
                <div class="msc-course-t">
                    <span class="_subtitle">{{ defaultStringCurrentCourse.label}}</span>
                    <h2><a href="{{ course.url }}">{{ course.title }}</a></h2>
                    <span class="_subtitle">{{ course.courseStartDate|date('d.M') }} – {{ course.courseEndDate|date('d.M') }}</span>
                    <a href="{{ course.url }}" class="btn-square">{{ course.title }} Modulbeschreibung</a>
                </div>
            </div>

        {% endfor %}

    {% endfor %}

    {% for block in entry.mosaicCourse.type('date') if block.entryDate.first() %}

        {% set dateModel  = block.entryDate.first() %}
        {% set dateStart  = dateModel.timeFrameStart|date("M d") %}
        {% set dateEnd    = dateModel.timeFrameStop|date("M d")|default('') %}
        {% set dateEnd    = dateEnd != dateEnd ? ' – ' ~ dateEnd : null %}
        {% set courseId   = dateModel.courseCategory.first().slug %}
        {% set image      = dateModel.image.first() %}
        {% set buttonText = block.buttonText|default(defaultStringButtonDate.label) %}

        <div class="msc-course-c{{ block.highlight == '1' ? ' _' ~ courseId }}{{ image ? ' _image-left' }}{{ image and block.style != 'wide' ? ' _wide' }}{{ block.style != '0' ? ' _' ~ block.style }}">

            {% if image %}
                <div class="msc-course-p">
                    {% include 'utilities/picturefill' with {
                        imageModel: image,
                        imageSet: [
                            ['mosaicCourseL', '500px', '1.5x'],
                            ['mosaicCourseM'],
                            ['mosaicCourseM', 'noscript']
                        ]
                    } %}
                </div>
            {% endif %}


            <div class="msc-course-t">
                <span class="_date">
                    {{ dateStart }}
                    {{ dateEnd ? dateEnd }}

                </span>
                <span class="_subtitle">
                    {{ dateModel.subtitle }}
                </span>
                <h2><a href="{{ dateModel.url }}">{{ dateModel.title }}</a></h2>
                <a href="{{ dateModel.url }}" class="btn-square">{{ buttonText }}</a>
            </div>
        </div>
    {% endfor %}

    {% for block in entry.mosaicCourse.type('text') if block.entryTeaser.first() %}
        {% set entryModel = block.entryTeaser.first() %}
        {% set entryId    = entryModel.courseCategory.first().id|default() %}
        {% set image      = entryModel.image.first() %}
        {% set buttonText = block.buttonText|default(defaultStringButton.label) %}

        <div class="msc-course-c _text{{ block.highlight == '1' ? ' _' ~ entryId }}{{ image ? ' _image-left' }}{{ image and block.style != 'wide' ? ' _wide' }}{{ block.style != '0' ? ' _' ~ block.style }}">
            <div class="msc-course-t">
                <h2><a href="{{ entryModel.url }}">{{ block.headline }}</a></h2>

                <p>{{ block.shortText }}</p>
                <a href="{{ entryModel.url }}" class="btn-square">{{ buttonText }}</a>
            </div>
        </div>
    {% endfor %}

</section>

