{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de_de"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
    <meta name="description" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ craft.bust.er('/dist/css/main.css') }}">
    <script src="/dist/js/modernizr.js"></script>
    <script src="/dist/js/picturefill.min.js"></script>

    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="layout-ldk__wrapper">

        {% include 'header' %}
        {% include 'header/navigation' %}

        <article class="layout-ldk__content">
            {% block content %}
                This shouldn’t be visible
            {% endblock %}

            {% include 'partials/quicklinks' with {quicklinkModel: footerQuicklinks.quicklinks} %}
        </article>

        {% include 'partials/footer' %}

    </section>

    <script src="/dist/js/app.js"></script>

</body>
</html>
