{#
 # Layout template
 # ---------------
 #
 # This template defines the site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{# Preparations for talking with search engine robots #}
{% set robotsIndex = entry.robots.contains('noindex') ? 'noindex' : 'index' %}
{% set robotsFollow = entry.robots.contains('nofollow') ? 'nofollow' : 'follow' %}

{# Setup a proper page title #}
{% set pageTitle = '' %}

{% if globalPageTitle is defined %}
    {% set pageTitle = globalPageTitle %}
{% elseif entry.titleStage is defined and entry.titleStage|length and entry.titleStage[0].headline is not empty %}
    {% set pageTitle = entry.titleStage[0].headline %}
{% elseif entry.title is defined %}
    {% set pageTitle = entry.title %}
{% else %}
    {% set pageTitle = siteName %}
{% endif %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de_de"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ pageTitle }}</title>
    <link rel="home" href="{{ siteUrl }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="{{ robotsIndex }}, {{ robotsFollow }}">

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:url" content="{{ craft.request.url }}" />
    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" value="{{ pageTitle }}">

    {# Descriptions #}
    {% if entry.teaserText is defined and entry.teaserText is not empty %}

        <meta name="description" content="{{ entry.teaserText }}">

        {# Twitter Cards #}
        <meta name="twitter:description" content="{{ entry.teaserText }}">

        {# Facebook #}
        <meta property="og:description" content="{{ entry.teaserText }}" />

    {% endif %}

    {# Sharing Images #}
    {% set socialImageUrl = '' %}

    {# Use teaser image by default #}
    {% if entry.teaserImage is defined and entry.teaserImage|length %}
        {% set socialImageUrl = entry.teaserImage[0].url %}

    {# Otherwise fall back to the titleStage image, if present  #}
    {% elseif entry.titleStage is defined and entry.titleStage|length and entry.titleStage[0].backgroundImage|length %}
        {% set socialImageUrl = entry.titleStage[0].backgroundImage[0].url %}
    {% endif %}

    {% if socialImageUrl is not empty %}
        <meta property="og:image" content="{{ socialImageUrl }}" />
        <meta name="twitter:image" content="{{ socialImageUrl }}">
    {% endif %}

    <link rel="stylesheet" href="{{ craft.bust.er('/dist/css/main.css') }}">

    <!--[if lt IE 9]>
        <script src="/dist/js/respond.min.js"></script>
    <![endif]-->

    <script src="/dist/js/min/modernizr.js"></script>
    <script src="/dist/js/picturefill.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56128690-1', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');

    </script>

    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
</head>

<body>
<!--
      __       ____    __  __      ____                   ___
     /\ \     /\  _`\ /\ \/\ \    /\  _`\                /\_ \    __
     \ \ \    \ \ \/\ \ \ \/'/'   \ \ \L\ \     __   _ __\//\ \  /\_\    ___
      \ \ \  __\ \ \ \ \ \ , <     \ \  _ <'  /'__`\/\`'__\\ \ \ \/\ \ /' _ `\
       \ \ \L\ \\ \ \_\ \ \ \\`\    \ \ \L\ \/\  __/\ \ \/  \_\ \_\ \ \/\ \/\ \
        \ \____/ \ \____/\ \_\ \_\   \ \____/\ \____\\ \_\  /\____\\ \_\ \_\ \_\
         \/___/   \/___/  \/_/\/_/    \/___/  \/____/ \/_/  \/____/ \/_/\/_/\/_/

    Howdy,

    if you’d like to check out how things were done here, have a look at
    https://github.com/medoingthings/ldk

-->

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section class="layout-ldk__wrapper">

        {% include 'header' %}
        {% include 'header/navigation' %}

        <article class="layout-ldk__content">
            {% block content %}
                This shouldn’t be visible
            {% endblock %}

            {% include 'partials/quicklinks' with {quicklinkModel: footerQuicklinks.quicklinks} %}
        </article>

        {% include 'partials/footer' %}

    </section>

    <script src="/dist/js/min/core.js"></script>

    {# A block other templates can put in site specific scripts #}
    {% block scriptFooter %}{% endblock %}

</body>
</html>
