<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de_de"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Leadership in digitaler Kommunikation | Master of Arts | UdK Berlin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../www/dist/css/main.css">
        <script src="../www/js/modernizr.js"></script>
        <script src="../bower_components/picturefill/dist/picturefill.min.js"></script>

        <link rel="shortcut icon" href="../assets/images/favicon.ico"/>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section class="lyt-ldk-w">
            <header class="lyt-head-w">
                <a href="index.html" class="lyt-head--home-a">
                    <figure class="lyt-head--home-f _logo-left">
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                    </figure>
                    <span class="txt-ldk-h">
                        <span class="_label">Masterstudiengang</span>
                        <strong class="_title">Leadership in digitaler Kommunikation</strong>
                    </span>
                </a>

                <a href="http://www.ziw.udk-berlin.de/">
                    <figure class="lyt-head--home-f _logo-right">
                        <img src="../assets/images/layout/udk-berlin-career-college-logo.png" alt="Berlin Career College">
                    </figure>
                </a>

                <nav class="nav-main-w">
                    <ul class="nav-main-l">
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Studiengang</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Bewerbung</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Über uns</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Campus</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

            <article class="lyt-ldk-c">

                <figure class="ftr-stage-w">
                    <div class="ftr-stage-p">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="../assets/images/content/stage/crowd-1-M.jpg" media="(min-width: 1200px">
                            <source srcset="../assets/images/content/stage/crowd-1-M.jpg" media="(min-width: 1000px)">
                            <source srcset="../assets/images/content/stage/crowd-1-S.jpg" media="(min-width: 800px)">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="../assets/images/content/stage/crowd-1-XS.jpg" alt="Studenten bei einem Vortrag">

                            <noscript>
                                <img src="../assets/images/content/stage/crowd-1-S.jpg" alt="Studenten bei einem Vortrag">
                            </noscript>
                        </picture>
                    </div>
                    <div class="ftr-stage-c _text-bright">
                        <div class="ftr-stage-t">
                            <strong>Digitale Gestaltung und Kommunikation</strong>
                            <h1 class="_xl">Gestaltung II</h1>

                            <a href="https://www.facebook.com/UdK.LDK" class="scl-a facebook"><span>Facebook</span></a>
                            <a href="https://www.twitter.com" class="scl-a twitter"><span>Twitter</span></a>
                            <a href="https://www.linkedin.com" class="scl-a linkedin"><span>LinkedIn</span></a>
                        </div>
                    </div>
                </figure>

                <article class="rtf-w _g2 lyt-label-w">
                    <b class="lyt-label-h">Modulbeschreibung</b>
                    <b class="rtf-badge-h" title="Gestaltung 2">G2</b>
                    <div class="rtf-c _has-sidebar">
                        <p>
                        Schwerpunkt des Moduls ist die praxisnahe Anwendung von Gestaltungsprozessen im digitalen Medium. Anhand einer beispielhaften Projektaufgabe werden die Studierenden einzeln oder in Gruppen einen Designprozess von der Beauftragung bis zur Produktion durchlaufen. Dabei werden verschiedene Bereiche der digitalen Gestaltung berührt und Werkzeuge und Methoden von Kreativprozessen untersucht.
                        </p><p>
                        Die drei Blöcke begleiten den Designprozess von der Recherche- und Konzeptionsphase über die gestalterische und technische Umsetzung bis zur prototypischen Produktion und Dokumentation. Begleitend zu den Blöcken werden Experten als Gastreferenten eingeladen sowie vor Ort besucht, es werden aktuelle theoretische und wissenschaftliche Diskurse thematisiert und besprochen.
                        </p><p>
                        Das Modul greift Inhalte aus dem Modul Gestaltung I auf, indem es die dort erlernten Grundlagen in einem Projekt anwendet, sich auf Entwicklungen und Technologien des digitalen Mediums fokussiert und den Prozess der Kreation und Innovation als übergreifende Methode in den Mittelpunkt stellt. Die Studierenden erhalten einen detaillierten Überblick über die aktuelle digitale Gestaltung und erlernen den Umgang mit Werkzeugen von Kreativprozessen, die sich auch in anderen Bereichen der Innovation anwenden lassen.
                        </p>
                    </div>
                    <dl class="rtf-c--sidebar-w">
                        <dt>Themengebiete</dt>
                        <dd>
                            <ul>
                                <li>Erfolgskriterien von Design</li>
                                <li>Gestaltung mit Technologien</li>
                                <li>Designprozesse</li>
                                <li>Digitale Produkte</li>
                            </ul>
                        </dd>

                        <dt>Modulverantwortlicher</dt>
                        <dd>
                            <a href="#">Andreas Kraft</a><br>
                            User Experience Strategist
                        </dd>

                        <dt>Lehrende</dt>
                        <dd>
                            <a href="#">Prof. Kora Kimpel</a><br>
                            <a href="#">Andreas Kraft</a>
                        </dd>

                        <dt>Zeitraum</dt>
                        <dd>
                            15.08.2014 - 30.09.2014
                        </dd>

                        <dt>Kontaktzeit</dt>
                        <dd>
                            22.08.2014 - 24.08.2014<br>
                            05.09.2014 - 07.09.2014<br>
                            19.09.2014 - 21.09.2014
                        </dd>

                        <dt>Veranstaltungsort</dt>
                        <dd>
                            Universität der Künste Berlin<br>
                            Berlin Career College<br>
                            Bundesallee 1-12<br>
                            10719 Berlin
                        </dd>
                    </dl>
                </article>

                <section class="msc-course-w lyt-label-w">
                    <b class="lyt-label-h">Termine</b>

                    <div class="msc-course-c _gestaltung-2">
                        <div class="msc-course-t">
                            <span class="_date">
                                JUL 12
                            </span>
                            <span class="_subtitle">
                                Prof. Kora Kimpel
                            </span>
                            <h2>Generative Gestaltung</h2>
                            <a href="#" class="btn-square">Termin-Details</a>
                        </div>
                    </div>

                    <div class="msc-course-c">
                        <div class="msc-course-t">
                            <span class="_date">
                                JUL 16
                            </span>
                            <span class="_subtitle">
                                Thomas Küber
                            </span>
                            <h2>Designlösungen für internationale Unternehmen</h2>
                            <a href="#" class="btn-square">Termin-Details</a>
                        </div>
                    </div>

                    <div class="msc-course-c _gestaltung-2 _wide _image-left">
                        <img src="../assets/images/content/mosaic/kueber.jpg" alt="Cherno Jobatey" class="msc-course-p">
                        <div class="msc-course-t">
                            <span class="_date">
                                JUL 17
                            </span>
                            <span class="_subtitle">
                                Rainer Kruschwitz
                            </span>
                            <h2>Agile Methoden im Management</h2>
                            <a href="#" class="btn-square">Termin-Details</a>
                        </div>
                    </div>
                </section>

                <article class="rtf-w _g2 lyt-label-w">
                    <b class="lyt-label-h">Ziele</b>
                    <div class="rtf-c">
                        <h3>Modulziel</h3>
                        <p>Die Studierenden können Gestaltungsprozesse in digitalen Medien praxisnah anwenden. Sie können Design beauftragen und bewerten. Sie können Kreativ- und Innovationsmethoden anwenden. Sie kennen aktuelle Tendenzen und Strömungen in Digitalen Medien und können diese kritisch einschätzen und kritisch bewerten.
                        </p>
                    </div>

                    <div class="rtf-gallery-w">
                        <a href="../assets/images/content/richtext/gallery/gallery-1-large.jpg" class="rtf-gallery-a">
                            <img src="../assets/images/content/richtext/gallery/gallery-1.jpg" alt="Galleriebild 1" class="rtf-gallery-p">
                        </a>
                        <a href="../assets/images/content/richtext/gallery/gallery-2-large.jpg" class="rtf-gallery-a">
                            <img src="../assets/images/content/richtext/gallery/gallery-2.jpg" alt="Galleriebild 2" class="rtf-gallery-p">
                        </a>
                        <a href="../assets/images/content/richtext/gallery/gallery-3-large.jpg" class="rtf-gallery-a">
                            <img src="../assets/images/content/richtext/gallery/gallery-3.jpg" alt="Galleriebild 3" class="rtf-gallery-p">
                        </a>
                        <a href="../assets/images/content/richtext/gallery/gallery-4-large.jpg" class="rtf-gallery-a">
                            <img src="../assets/images/content/richtext/gallery/gallery-4.jpg" alt="Galleriebild 4" class="rtf-gallery-p">
                        </a>
                    </div>

                    <div class="rtf-c _highlight">
                        <h3>Gewichtung der Prüfungsleistungen</h3>
                        <p>
                            Die Prüfungsleistung besteht in einer Portfolioprüfung: Recherche, Präsentation und Ausarbeitung (Projektdokumentation oder Hausarbeit) vvon Arbeitsergebnissen. Voraussichtlich findet am Ende des Moduls eine öffentliche Abschlusspräsentation statt. Bewertet werden: Schlüssigkeit des Gesamtkonzeptes (30%), methodisches, handwerklich sauberes Vorgehen (40%), Kreativität und Innovation der Lösung (30%).
                        </p>
                    </div>

                </article>

                <article class="rtf-w _g2 lyt-label-w">
                    <b class="lyt-label-h">Kommentar</b>
                    <b class="rtf-badge-p" title="Gestaltung 2">
                        <img src="../assets/images/content/richtext/andreas-kraft.jpg" alt="Andreas Kraft">
                    </b>
                    <div class="rtf-c">
                        <h3>Kommentar Andreas Kraft, Modulverantwortlicher</h3>
                        <p>
                            Was ist heute in der Kommunikation nicht digital? Das Digitale ist kein Aushängeschild mehr, sondern fester Bestandteil fast jeder Kommunikation, in täglicher Benutzung und aus kaum einem Leben weg zu denken. Während Kommunikation immer einfacher über digitale Kanäle mit den Konsumenten in Dialog treten kann, wird es jedoch immer schwieriger auch effektiv und glaubhaft zu kommunizieren: Anwender werden immer anspruchsvoller was Gestaltung und Benutzbarkeit dieser Gestaltung im digitalen Umfeld bedeutet. Gestaltung ist nicht mehr nur die sichtbare Form sondern auch immer mehr die Abläufe, die Benutzbarkeit und die Funktion des Objektes.
                        </p><p>
                            Es wird deutlich, dass Gestaltung ein elementarer Bestandteil des Kommunikationsprozesses ist, der Verhalten, Umgang und Beziehung mit einschließt. Aus diesem Grund ist ein Verständnis des gestalterischen Prozesses, eine Kenntnis seiner Methoden und Werkzeuge, sowie die Beurteilung seiner Ergebnisse für jeden, der digitale Kommunikation strategisch einsetzen und steuern will, von elementarer Bedeutung.
                        </p>
                    </div>
                </article>

                <section class="rtf-meta-w">
                    <div class="rtf-tags-w">
                        <b class="rtf-tags-h">Tags:</b>
                        <ul class="rtf-tags-l">
                            <li class="rtf-tags-i"><a href="#" class="rtf-tags-a">Projekt</a></li>
                            <li class="rtf-tags-i"><a href="#" class="rtf-tags-a">UX</a></li>
                            <li class="rtf-tags-i"><a href="#" class="rtf-tags-a">Design</a></li>
                            <li class="rtf-tags-i"><a href="#" class="rtf-tags-a">Ideation</a></li>
                        </ul>
                    </div>

                    <div class="scl-w">
                        <a href="https://www.facebook.com/UdK.LDK" class="scl-a facebook"><span>Facebook</span></a>
                        <a href="https://www.twitter.com" class="scl-a twitter"><span>Twitter</span></a>
                        <a href="https://www.linkedin.com" class="scl-a linkedin"><span>LinkedIn</span></a>
                    </div>
                </section>

                <section class="msc-course-w lyt-label-w">
                    <b class="lyt-label-h">G2-Projekte</b>

                    <div class="msc-course-c _wide _image-left">
                        <img src="../assets/images/content/mosaic/weversity.jpg" alt="Cherno Jobatey" class="msc-course-p">
                        <div class="msc-course-t">
                            <h2>Weversity - MOOC</h2>
                            <p>Mit weversity entwickelte die Gruppe eine Plattform für zeitgemäßes lernen. Zentralisierte Wissens-Lieferanten weichen dezentral organisierten Spezialisten.</p>
                            <a href="#" class="btn-square">Zum Projekt</a>
                        </div>
                    </div>

                    <div class="msc-course-c _gestaltung-2">
                        <div class="msc-course-t">
                            <h2>Generative Gestaltung</h2>
                            <p>Fusce a felis sit amet mi fermentum euismod ut id leo. Nullam eleifend, metus quis lobortis rhoncus, est sapien rutrum diam, at turpis duis.</p>
                            <a href="#" class="btn-square">Über generative Gestaltung</a>
                        </div>
                    </div>

                    <div class="msc-course-c">
                        <div class="msc-course-t">
                            <h2>Designlösungen für internationale Unternehmen</h2>
                            <p>Fusce a felis sit amet mi fermentum euismod ut id leo. Nullam eleifend, metus quis lobortis rhoncus, est sapien rutrum diam, at turpis duis.</p>
                            <a href="#" class="btn-square">Über generative Gestaltung</a>
                        </div>
                    </div>

                </section>


                <section class="msc-ldk-w lyt-label-w">
                    <b class="lyt-label-h">Weitere Module</b>
                    <ul class="msc-ldk-l _horizontal">
                        <li class="msc-ldk-i _k1"><a href="#" class="msc-ldk-a">
                                <span class="_id">K1</span>
                                <span class="_title">Kommunikation 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _m1"><a href="#" class="msc-ldk-a">
                                <span class="_id">M1</span>
                                <span class="_title">Management 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _l1"><a href="#" class="msc-ldk-a">
                                <span class="_id">L1</span>
                                <span class="_title">Leadership 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _g1"><a href="#" class="msc-ldk-a">
                                <span class="_id">G1</span>
                                <span class="_title">Gestaltung 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _l2"><a href="#" class="msc-ldk-a">
                                <span class="_id">L2</span>
                                <span class="_title">Leadership 2</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _m2"><a href="#" class="msc-ldk-a">
                                <span class="_id">M2</span>
                                <span class="_title">Management 2</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _p2"><a href="#" class="msc-ldk-a">
                                <span class="_id">P1</span>
                                <span class="_title">Projekt 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _p1"><a href="#" class="msc-ldk-a">
                                <span class="_id">P1</span>
                                <span class="_title">Projekt 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _k2"><a href="#" class="msc-ldk-a">
                                <span class="_id">K2</span>
                                <span class="_title">Kommunikation 2</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                    </ul>
                </section>

                <section class="ftr-stage-w lyt-label-w">
                    <b class="lyt-label-h">Beratung</b>

                    <div class="ftr-stage-c _text-short">
                        <div class="ftr-stage-t">
                            <h2>Wollen Sie mehr erfahren? <br> Wir beraten Sie gerne persönlich</h2>
                            <a href="#" class="btn-outline _call-to-action">Termin vereinbaren</a>
                            <a href="#" class="btn-outline">Bewerben</a>
                        </div>
                    </div>
                </section>

                <section class="ftr-stage-w lyt-label-w">
                    <b class="lyt-label-h">Downloads</b>

                    <div class="ftr-stage-c _text-short">
                        <div class="ftr-stage-t">
                            <ul class="dwn-compact-l">
                                <li class="dwn-compact-i"><a href="#download" class="dwn-compact-a">Kommentiertes Vorlesungsverzeichnis <b>(PDF, 78KB)</b></a></li>
                                <li class="dwn-compact-i"><a href="#download" class="dwn-compact-a">Modulziele und -Inhalte <b>(PDF, 800KB)</b></a></li>
                            </ul>
                        </div>
                    </div>
                </section>

            </article>

            <section class="lyt-quicklinks-w">
                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Studiengang</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">LDK-Story</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Inhalte</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Lehrende</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Termine</a></li>
                    </ul>
                </div>

                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Bewerbung</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">Verfahren</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Kosten</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Ansprechpartner</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">FAQ</a></li>
                    </ul>
                </div>

                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Über uns</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">Ansprechpartner</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Orte</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">News</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Satzung</a></li>
                    </ul>
                </div>
            </section>

            <footer class="lyt-footer-w">
                <span class="lyt-footer-i txt-ldk-h">
                    <span class="_label">Masterstudiengang</span>
                    <strong class="_title">Leadership in digitaler Kommunikation</strong>
                </span>
                <a href="http://www.ziw.udk-berlin.de/" class="lyt-footer-i">
                    <img src="../assets/images/layout/udk-berlin-career-college-logo.png" width="200" height="50" alt="Berlin Career College">
                </a>
                <a href="http://www.unisg.ch/" class="lyt-footer-i">
                    <img src="../assets/images/layout/universitaet-st-gallen-logo.svg" width="204" height="50" alt="Universität St. Gallen">
                </a>
            </footer>
        </section>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
