<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../www/css/main.css">

        <script src="../www/js/modernizr.js"></script>
        <script src="../bower_components/picturefill/dist/picturefill.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section class="lyt-ldk-w">
            <header class="lyt-head-w">
                <a href="#" class="lyt-head--home-a">
                    <figure class="lyt-head--home-f _logo-left">
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                    </figure>
                    <span class="txt-ldk-h">
                        <span class="_label">Masterstudiengang</span>
                        <strong class="_title">Leadership in digitaler Kommunikation</strong>
                    </span>
                </a>
                <a href="http://www.ziw.udk-berlin.de/">
                    <figure class="lyt-head--home-f _logo-right">
                        <img src="../assets/images/layout/udk-berlin-career-college-logo.png" alt="Berlin Career College">
                    </figure>
                </a>

                <nav class="nav-main-w">
                    <ul class="nav-main-l">
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Studiengang</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Bewerbung</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Über uns</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Campus</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

            <section class="lyt-ldk-c">

            </section>

            <section class="lyt-quicklinks-w">
                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Studiengang</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">LDK-Story</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Inhalte</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Lehrende</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Termine</a></li>
                    </ul>
                </div>

                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Bewerbung</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">Verfahren</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Kosten</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Ansprechpartner</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">FAQ</a></li>
                    </ul>
                </div>

                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Über uns</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">Ansprechpartner</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Orte</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">News</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Satzung</a></li>
                    </ul>
                </div>
            </section>

            <footer class="lyt-footer-w">
                <span class="lyt-footer-i txt-ldk-h">
                    <span class="_label">Masterstudiengang</span>
                    <strong class="_title">Leadership in digitaler Kommunikation</strong>
                </span>
                <a href="http://www.ziw.udk-berlin.de/" class="lyt-footer-i">
                    <img src="../assets/images/layout/udk-berlin-career-college-logo.png" alt="Berlin Career College">
                </a>
                <a href="http://www.unisg.ch/" class="lyt-footer-i">
                    <img src="../assets/images/layout/universitaet-st-gallen-logo.svg" alt="Berlin Career College">
                </a>
            </footer>
        </section>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
