<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../www/css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section class="lyt-ldk-w">
            <header class="lyt-head-w">
                <a href="#" class="lyt-head--home-w">
                    <span>Logo</span>
                    <p class="lyt-head--home-h">
                        <span>Masterstudiengang</span>
                        <span>Leadership in digitaler Kommunikation</span>
                    </p>
                    <figure class="lyt-head--home-f">
                        Logo
                    </figure>
                </a>
            </header>
            <nav class="nav-main-w">
                <ul class="nav-main-l">
                    <li class="nav-main-i">
                        <a href="#" class="nav-main-a">Studiengang</a>
                        <ul class="nav-main--subnav-l">
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                        </ul>
                    </li>
                    <li class="nav-main-i">
                        <a href="#" class="nav-main-a">Bewerbung</a>
                        <ul class="nav-main--subnav-l">
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                        </ul>
                    </li>
                    <li class="nav-main-i">
                        <a href="#" class="nav-main-a">Über uns</a>
                        <ul class="nav-main--subnav-l">
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                        </ul>
                    </li>
                    <li class="nav-main-i">
                        <a href="#" class="nav-main-a">Campus</a>
                        <ul class="nav-main--subnav-l">
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                            <li class="nav-main--l2-i"><a href="#" class="nav-main--subnav-a">Link</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <section class="lyt-ldk-c">

            </section>
        </section>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
