<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de_de"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Leadership in digitaler Kommunikation | Master of Arts | UdK Berlin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/dist/css/main.css">
        <script src="dist/js/modernizr.js"></script>
        <script src="dist/js/picturefill.min.js"></script>

        <link rel="shortcut icon" href="../assets/images/favicon.ico"/>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section class="lyt-ldk-w">
            <header class="lyt-head-w">
                <a href="index.html" class="lyt-head--home-a">
                    <figure class="lyt-head--home-f _logo-left">
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                        <span class="lyt-head--logo-i"></span>
                    </figure>
                    <span class="txt-ldk-h">
                        <span class="_label">Masterstudiengang</span>
                        <strong class="_title">Leadership in digitaler Kommunikation</strong>
                    </span>
                </a>

                <a href="http://www.ziw.udk-berlin.de/">
                    <figure class="lyt-head--home-f _logo-right">
                        <img src="../assets/images/layout/udk-berlin-career-college-logo.png" alt="Berlin Career College">
                    </figure>
                </a>

                <nav class="nav-main-w">
                    <ul class="nav-main-l">
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Studiengang</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Inhalte</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Projekte</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Termine</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Neuigkeiten</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Orte</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Ansprechpartner</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Bewerbung</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Verfahren</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Kosten</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Informationsmaterial</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Häufig gestellte Fragen</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Ansprechpartner</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Über uns</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Story</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Lehrende</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Studenten</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Alumni</a></li>
                                <li class="nav-main--l2-i"><a href="#" class="nav-main--l2-a">Das Team</a></li>
                            </ul>
                        </li>
                        <li class="nav-main-i">
                            <a href="#" class="nav-main-a">Campus</a>
                            <ul class="nav-main--l2-l">
                                <li class="nav-main--l2-i _has-login">
                                    <form action="" class="frm-c">
                                        <input type="email" placeholder="E-Mail-Adresse">
                                        <input type="password" placeholder="Passwort">
                                        <button class="btn-outline" type="submit">Login</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

            <article class="lyt-ldk-c">

                <figure class="ftr-stage-w">
                    <div class="ftr-stage-p">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="../assets/images/content/stage/crowd-1-M.jpg" media="(min-width: 1200px">
                            <source srcset="../assets/images/content/stage/crowd-1-M.jpg" media="(min-width: 1000px)">
                            <source srcset="../assets/images/content/stage/crowd-1-S.jpg" media="(min-width: 800px)">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="../assets/images/content/stage/crowd-1-XS.jpg" alt="Studenten bei einem Vortrag">

                            <noscript>
                                <img src="../assets/images/content/stage/crowd-1-S.jpg" alt="Studenten bei einem Vortrag">
                            </noscript>
                        </picture>
                    </div>
                    <div class="ftr-stage-c _text-bright">
                        <div class="ftr-stage-t">
                            <h1>The world changed yesterday, now it’s your turn.</h1>
                            <p>
                                Warum Sie sich für diesen Studiengang bewerben sollten.
                            </p>
                            <a href="course-detail.html" class="btn-outline">Über den Studiengang</a>
                        </div>
                    </div>
                </figure>

                <section class="msc-course-w lyt-label-w">
                    <b class="lyt-label-h">Aktuell</b>

                    <div class="msc-course-c _leadership-2 _highlight _wide _shift">
                        <div class="msc-course-t">
                            <span class="_subtitle">Laufendes Modul</span>
                            <h2>Leadership I</h2>
                            <span class="_subtitle">17.01. - 20.09.</span>
                            <a href="#" class="btn-square">Leadership I Modulbeschreibung</a>
                        </div>
                    </div>

                    <div class="msc-course-c">
                        <div class="msc-course-t">
                            <span class="_date">
                                JUL 20
                            </span>
                            <span class="_subtitle">
                                Gerrit Tamm
                            </span>
                            <h2>Wearables and health</h2>
                            <a href="#" class="btn-square">Termin-Details</a>
                        </div>
                    </div>

                    <div class="msc-course-c _leadership-2">
                        <div class="msc-course-t">
                            <span class="_date">
                                JUL 20
                            </span>
                            <span class="_subtitle">
                                Gerrit Tamm
                            </span>
                            <h2>Wearables and health</h2>
                            <a href="#" class="btn-square">Termin-Details</a>
                        </div>
                    </div>

                    <div class="msc-course-c _text">
                        <div class="msc-course-t">
                            <h2>Schnuppertage für Interessierte</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, debitis dolorum consequuntur ad hic, earum nihil sint est, tempora aliquam voluptate atque sequi maxime, distinctio!
                            </p>
                            <a href="#" class="btn-square">Zur Anmeldung</a>
                        </div>
                    </div>

                    <div class="msc-course-c _leadership-2 _wide _image-left">
                        <img src="../assets/images/content/mosaic/cherno.jpg" alt="Cherno Jobatey" class="msc-course-p">
                        <div class="msc-course-t">
                            <span class="_date">
                                JUL 17
                            </span>
                            <span class="_subtitle">
                                Cherno Jobatey
                            </span>
                            <h2>Zukunft des Journalismus</h2>
                            <a href="#" class="btn-square">Termin-Details</a>
                        </div>
                    </div>
                </section>

                <section class="msc-ldk-w">
                    <ul class="msc-ldk-l _center">
                        <li class="msc-ldk-i _k1"><a href="#" class="msc-ldk-a">
                                <span class="_id">K1</span>
                                <span class="_title">Kommunikation 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _m1"><a href="#" class="msc-ldk-a">
                                <span class="_id">M1</span>
                                <span class="_title">Management 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _l1"><a href="#" class="msc-ldk-a">
                                <span class="_id">L1</span>
                                <span class="_title">Leadership 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _g1"><a href="#" class="msc-ldk-a">
                                <span class="_id">G1</span>
                                <span class="_title">Gestaltung 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _l2"><a href="#" class="msc-ldk-a">
                                <span class="_id">L2</span>
                                <span class="_title">Leadership 2</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _g2"><a href="#" class="msc-ldk-a">
                                <span class="_id">G2</span>
                                <span class="_title">Gestaltung 2</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _m2"><a href="#" class="msc-ldk-a">
                                <span class="_id">M2</span>
                                <span class="_title">Management 2</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _p2"><a href="#" class="msc-ldk-a">
                                <span class="_id">P1</span>
                                <span class="_title">Projekt 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _p1"><a href="#" class="msc-ldk-a">
                                <span class="_id">P1</span>
                                <span class="_title">Projekt 1</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                        <li class="msc-ldk-i _k2"><a href="#" class="msc-ldk-a">
                                <span class="_id">K2</span>
                                <span class="_title">Kommunikation 2</span>
                                <span class="_prof">Prof. Herbst</span>
                            </a></li>
                    </ul>
                </section>

                <figure class="ftr-stage-w lyt-label-w">
                    <b class="lyt-label-h">Studiengangsteam</b>

                    <div class="ftr-stage-p _aspect-3to1">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="../assets/images/content/teaser/image/ballon-M.jpg, ../assets/images/content/teaser/image/ballon-L.jpg 1.5x" media="(min-width: 1200px">
                            <source srcset="../assets/images/content/teaser/image/ballon-M.jpg" media="(min-width: 1000px)">
                            <source srcset="../assets/images/content/teaser/image/ballon-S.jpg" media="(min-width: 800px)">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="../assets/images/content/teaser/image/ballon-XS.jpg" alt="Studenten bei einem Vortrag">

                            <noscript>
                                <img src="../assets/images/content/teaser/image/ballon-M.jpg" alt="Studenten bei einem Vortrag">
                            </noscript>
                        </picture>
                    </div>
                    <div class="ftr-stage-c _text-short">
                        <div class="ftr-stage-t">
                            <h2>Wollen Sie mehr erfahren? <br> Wir beraten Sie gerne persönlich</h2>
                            <a href="#" class="btn-outline">Termin vereinbaren</a>
                        </div>
                    </div>
                </figure>

            </article>

            <section class="lyt-quicklinks-w">
                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Studiengang</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">LDK-Story</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Inhalte</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Lehrende</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Termine</a></li>
                    </ul>
                </div>

                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Bewerbung</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">Verfahren</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Kosten</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Ansprechpartner</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">FAQ</a></li>
                    </ul>
                </div>

                <div class="lyt-quicklinks-c">
                    <h3 class="lyt-quicklinks-h">Über uns</h3>
                    <ul class="lyt-quicklinks-l">
                        <li><a href="#" class="lyt-quicklinks-a">Ansprechpartner</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Orte</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">News</a></li>
                        <li><a href="#" class="lyt-quicklinks-a">Satzung</a></li>
                    </ul>
                </div>
            </section>

            <footer class="lyt-footer-w">
                <span class="lyt-footer-i txt-ldk-h">
                    <span class="_label">Masterstudiengang</span>
                    <strong class="_title">Leadership in digitaler Kommunikation</strong>
                </span>
                <a href="http://www.ziw.udk-berlin.de/" class="lyt-footer-i">
                    <img src="../assets/images/layout/udk-berlin-career-college-logo.png" width="200" height="50" alt="Berlin Career College">
                </a>
                <a href="http://www.unisg.ch/" class="lyt-footer-i">
                    <img src="../assets/images/layout/universitaet-st-gallen-logo.svg" width="204" height="50" alt="Universität St. Gallen">
                </a>
            </footer>
        </section>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
