/**
 * Feature content in a big stage
 */

.feature-stage__wrapper {
    @extend %container;
    position: relative;
    margin-bottom: em(20);
    z-index: 0;
}

.feature-stage__background {
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.feature-stage__content {
    padding: em(50) 0;
    background-color: color(1);

    &._cushion {
        padding: em(50);
        width: 100%;
        height: 100%;
    }

    &._text-short .feature-stage__text {
        h2 {
            margin-bottom: em(20)
        }

        p {
            width: auto;
        }
    }

    &._blocktext {
        padding-left: em(50);
        background-color: transparent;

        .feature-stage__text {
            padding-left: 0;
        }
    }
}

.feature-stage__content__scroll {

    // Make scrolling within the container work
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.feature-stage__image {
    width: em(200);
    margin-right: 20px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.feature-stage__text {
    width: 85%;
    margin: 0 auto;

    h1 {
        @extend %text-type--3;
        clear: both;
        margin-bottom: baselineMargin(3);
        text-transform: uppercase;

        &._xl {
            @extend %text-type--2;
        }
    }

    // Special headline styling if there is no background image
    .feature-stage__content._blocktext & h1,
    ._date {
        display: inline-block;
        padding: em(20, size(3)) em(30, size(3)) em(10, size(3));
        background-color: color(1);
    }

    // Used for date detail pages
    ._date {
        @extend %text-type--3;
        float: left;
        margin: 0 em(2) em(2) 0;
        color: color(2);
    }

    // Remove background color from headlines on date detail pages
    .feature-stage__content._blocktext & ._date + h1 {
        background-color: transparent;
    }

    h2 {
        @extend %text-type--4;
        margin-bottom: baselineMargin(4);
        text-transform: uppercase;
    }

    > strong {
        @extend %text-type--5;
        padding: em(10, size(5));
        text-transform: uppercase;
    }

    p {
        width: 50%;
        padding: em(10) em(20);
        margin-bottom: em(20);
        margin-left: em(-20);
    }
}

/**
 * A list of Links below the text element
 */

.feature-stage__text__list {
    @extend %unstyle-list;
    @extend %clearfix;
    margin-bottom: em(20);
}

.feature-stage__text__item {
    @extend %unstyle-list-item;
    @extend %text-type--6;
    display: inline-block;
    float: left;
    margin-right: em(20);
}

.feature-stage__text__link {

    &._edit-profile {
        @include icon(pencil);
    }

    &._edit-password {
        @include icon(key);
    }

    &:before {
        font-size: 0.8em;
        padding-right: em(10);
    }

    &:link,
    &:visited {
        color: color(2);
        text-decoration: none;
    }

    &:hover span {
        text-decoration: underline;
    }
}

// Different text position on bigger screens
@include breakpoint(1100) {
    .feature-stage__background {
        height: 0;
        padding-top: 100% / 24 * 9;

        &._aspect-3to1 {
            padding-top: 100% / 3 * 1;
        }

        picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .feature-stage__background + .feature-stage__content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        background-color: transparent;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em;
        }

        .feature-stage__text {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .feature-stage__content {
        color: color(2);

        &._text-bright {
            color: color(1);

            p {
                width: 70%;
                padding-left: em(80);
                margin-left: em(-80);
                background-color: rgba(color(2), 0.75);
            }

            .button-outline {
                &:link,
                &:visited {
                    color: color(1);
                }

                &,
                &:before,
                &:after {
                    border-color: color(1);
                }
            }
        }

        &._text-short .feature-stage__text {
            width: 60%;
        }
    }

    .feature-stage__text {
        padding-left: em(80);
        padding-right: em(80);
        margin: 0;

        > strong {
            background-color: rgba(color(2), 0.75);
        }
    }
}

@include breakpoint($BP_DESKTOP_MIN) {
    .feature-stage__split__container {
        display: flex;
        justify-content: space-between;

        &:after {
            // Fix added space in the right corner of the container
            content: none;
        }
    }

    .feature-stage__split__wrapper {
        width: 49%;
    }
}

@include breakpoint($BP_TABLET_MAX) {
    .feature-stage__split__container {
        .layout-label__wrapper {
            margin-top: em($layout-label--height);
        }
    }
}

@include breakpoint(false, 800) {
    .feature-stage__text {
        p {
            width: auto;
        }
    }
}

@include breakpoint($navigation-main--breakpoint--mobile) {
    .feature-stage__content {
        &._blocktext {
            padding-top: em(120);
        }
    }
}

@include breakpoint(501) {
    .feature-stage__content {
        &._image-left {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    .feature-stage__image {
        flex-basis: em(200);
    }
}

@include breakpoint(false, 500) {
    .feature-stage__text {
        width: auto !important;
        padding-left: em(20);
        padding-right: em(20);
    }

    .feature-stage__image {
        width: em(120);
    }
}
