/*
 * Extend Utilities
 * these placeholders are used via @extend through SASS for DRY developement
 * instead of repeating the lines of code over and over again, just extend like this:
 * "@extend %e_pie-clearfix"
 */

%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

%unstyle-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%unstyle-list-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

%is-visually-hidden {
    @include is-visually-hidden;
}

%composited-layer {
    @include composited-layer;
}

%container {
    @extend %clearfix;
    @include outer-container;

    width: 100%;
    margin: 0 auto;
}

@include breakpoint(false, $BP_SMARTPHONE_MAX) {
    %container {
        padding: 0;
    }
}
