/**
 * Mixins
 *
 - breakpoint
 - clearfix
 - link-style
 - link-unstyle
 */


/**
 * Very simple breakpoints
 *
 * @param {Number} $min-width
 * @param {Number} $max-width
 */

@mixin breakpoint ($min-width: false, $max-width: false) {

    $query : "";

    @if $min-width != false {
        $query : $query + "(min-width:" + stripUnit($min-width) / 16 + "em)";

        @if $max-width != false {
            $query : $query + " and ";
        }
    }

    @if $max-width != false {
        $query : $query + "(max-width:" + stripUnit($max-width) / 16 + "em)";
    }

    @media #{$query} {
        @content;
    }

}


/**
 * Clearfix
 */

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

/**
 * Create a composited layer through a little CSS hack
 * Use the mixin only within media queries. Otherwise use the extend (see extends.scss)
 */

@mixin composited-layer {
    backface-visibility: hidden;
}

/**
 * Visually hidden, but available for screen readers
 */

@mixin is-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
