{% requireLogin %}
{% extends "_layout" %}

{% import 'macros/formErrors' as formErrors %}

{% set entry = craft.entries.section('campus').slug('mein-profil').first %}
{% set currentUser = currentUser %}

{# Set pageTitle in _layout template #}
{% set globalPageTitle = currentUser.degree is not empty ? currentUser.degree ~ ' ' : '' %}
{% set globalPageTitle = globalPageTitle ~ currentUser.name %}

{% block content %}

    <form method="post" accept-charset="UTF-8" id="form-profile__form--edit" class="form__content">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="redirect" value="campus/mein-profil">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">

        {% embed "helper/sectionContainer.html" with {classes: 'feature-stage__wrapper'} %}
            {% block content %}
                <div class="feature-stage__content _blocktext">
                    <div class="feature-stage__text">
                        <h1>Passwort ändern</h1>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}

        {% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper'} %}

            {% block content %}
                <div class="richtext__content">

                    <div class="form__row">
                        <div class="form__row__column">
                            <label for="currentPassword">Altes Passwort</label>
                            <input type="password" id="currentPassword" name="password"{{ account is defined and account.getErrors('currentPassword')|length ? ' class="_has-error"' }}>

                            {{ account is defined and account.getErrors('currentPassword')|length ? formErrors.errorList(account.getErrors('currentPassword'), 'point-up') }}
                        </div>

                        <div class="form__row__column">
                            <label for="newPassword">Neues Passwort</label>
                            <input type="password" id="newPassword" name="newPassword"{{ account is defined and account.getErrors('newPassword')|length ? ' class="_has-error"' }}>

                            {{ account is defined and account.getErrors('newPassword')|length ? formErrors.errorList(account.getErrors('newPassword'), 'point-up') }}
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__row__column">
                            <span class="form__info">Das Passwort kann jederzeit auch über die “Passwort vergessen”-Funktion beim Login zurückgesetzt werden.</span>
                        </div>
                        <div class="form__row__column">
                            <button type="submit" class="button-outline _call-to-action _right">Neues Passwort speichern</button>
                        </div>
                    </div>

                </div>
            {% endblock %}
        {% endembed %}

    </form>
{% endblock %}
