{% requireLogin %}
{% extends "_layout" %}

{% import 'macros/formErrors' as formErrors %}

{% set entry = craft.entries.section('campus').slug('mein-profil').first %}
{% set currentUser = currentUser %}

{# Set pageTitle in _layout template #}
{% set globalPageTitle = currentUser.degree is not empty ? currentUser.degree ~ ' ' : '' %}
{% set globalPageTitle = globalPageTitle ~ currentUser.name %}

{# This script is needed to initialize the medium-editor #}
{% block scriptFooter %}
    <script src="/dist/js/min/my-profile.js"></script>
{% endblock %}

{% block content %}

    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" id="form-profile__form--edit" class="form__content">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="redirect" value="campus/mein-profil">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">

        {% embed "helper/sectionContainer.html" with {classes: 'feature-stage__wrapper'} %}
            {% block content %}
                <div class="feature-stage__content _blocktext{{ currentUser.userImage|length ? ' _image-left' : '' }}">
                    <div class="feature-stage__text">
                        <h1>Profil editieren</h1>
                    </div>

                    {% if currentUser.userImage|length %}
                        <div class="feature-stage__image">

                            {% include 'utilities/picturefill' with {
                                imageModel: currentUser.userImage.first,
                                imageSet: [
                                    ['richtextSidebarImageM', '400px', '1.5x'],
                                    ['richtextSidebarImageS', 'noscript'],
                                    ['richtextSidebarImageS']
                                ]
                            } %}

                        </div>
                    {% endif %}

                </div>
            {% endblock %}
        {% endembed %}

        {% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper', sectionLabel: 'Persönliche Daten'} %}
            {% block content %}
                <div class="richtext__content">

                    <div class="form__item">
                        <label for="gender">Anrede</label>
                        <select name="fields[gender]" id="gender">
                            {% for option in craft.fields.getFieldbyHandle('gender').settings.options  %}
                                <option value="{{ option.value }}"{{ option.value == currentUser.gender ? ' selected' }}>{{ option.label }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form__row">
                        <div class="form__row__column">
                            <label for="firstName">Vorname</label>
                            <input type="text" id="firstName" name="firstName" value="{{ currentUser.firstName }}">
                        </div>
                        <div class="form__row__column">
                            <label for="lastName">Nachname</label>
                            <input type="text" id="lastName" name="lastName" value="{{ currentUser.lastName }}">
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__row__column">
                            <label for="company">Firma</label>
                            <input type="text" id="company" name="company" value="{{ currentUser.company }}">
                        </div>
                        <div class="form__row__column">
                            <label for="profession">Berufsbezeichnung</label>
                            <input type="text" id="profession" name="profession" value="{{ currentUser.profession }}">
                        </div>
                    </div>

                    <hr>
                    <div class="form__row">
                        <div class="form__row__column">
                            <label for="email">E-Mail-Adresse</label>
                            <input type="text" id="email" name="email" value="{{ currentUser.email }}"{{ account is defined and account.getErrors('email')|length ? ' class="_has-error"' }}>

                            {{ account is defined and account.getErrors('email')|length ? formErrors.errorList(account.getErrors('email'), 'point-up') }}
                        </div>
                        <div class="form__row__column">
                            <label for="currentPasswordEmail">Aktuelles Passwort bestätigen</label>
                            <input type="password" id="currentPasswordEmail" name="password"{{ account is defined and account.getErrors('currentPassword')|length ? ' class="_has-error"' }}>

                            {{ account is defined and account.getErrors('currentPassword')|length ? formErrors.errorList(account.getErrors('currentPassword'), 'point-up') }}
                            <span class="form__info">Erforderlich, wenn die E-Mail-Adresse geändert werden soll</span>
                        </div>
                    </div>

                </div>
            {% endblock %}
        {% endembed %}

        {% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper', sectionLabel: 'Nutzerbild ändern'} %}

            {% block content %}
                <div class="richtext__content">

                    <div class="form__item">
                        <div class="form__row__column">
                            <label for="userImage" class="is-visually-hidden">Neues Bild</label>
                            <input type="file" name="fields[userImage]">
                        </div>
                        <div class="form__row__column">
                        <span class="form__info">
                            Optimales Format:<br>
                            Quadratisch (mindestens 400x400px)
                        </span>
                        </div>
                    </div>

                </div>
            {% endblock %}
        {% endembed %}

        {% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper', sectionLabel: 'Informationen zu Ihrer Person'} %}

            {% block content %}
                <div class="richtext__content">

                    <span class="form__info">Wie ist Ihr Werdegang? Was machen Sie konkret beruflich? Welche fachlichen Schwerpunkte haben Sie? Wo liegen Ihre Interessen?</span>

                    <div class="form__item">
                        <label for="introduction" class="is-visually-hidden">Informationen zu Ihrer Person</label>
                        <textarea type="text" class="js-form-profile--editable" id="introduction" name="fields[introduction]" placeholder="Beschreibung zu Ihrer Person hinzufügen">
                            {{ currentUser.introduction }}
                        </textarea>
                    </div>

                </div>
            {% endblock %}
        {% endembed %}

        {% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper', sectionLabel: 'Kontaktdaten ändern'} %}

            {% block content %}
                <div class="richtext__content">

                    <div class="form__row">
                        <div class="form__row__column">
                            <div class="form__item">
                                <label for="website">Webseite</label>
                                <input type="text" id="website" name="fields[website]" value="{{ currentUser.website }}" placeholder="{{ craft.fields.getFieldbyHandle('website').settings.placeholder }}">
                            </div>

                            <div class="form__item">
                                <label for="twitter">Twitter-Name</label>
                                <input type="text" id="twitter" name="fields[twitter]" value="{{ currentUser.twitter }}" placeholder="{{ craft.fields.getFieldbyHandle('twitter').settings.placeholder }}">
                            </div>

                            <div class="form__item">
                                <label for="xing">XING</label>
                                <input type="text" id="xing" name="fields[xing]" value="{{ currentUser.xing }}" placeholder="{{ craft.fields.getFieldbyHandle('xing').settings.placeholder }}">
                            </div>

                            <div class="form__item">

                                <label for="facebook">Facebook</label>
                                <input type="text" id="facebook" name="fields[facebook]" value="{{ currentUser.facebook }}" placeholder="{{ craft.fields.getFieldbyHandle('facebook').settings.placeholder }}">
                            </div>

                            <div class="form__item">
                                <label for="linkedin">LinkedIn</label>
                                <input type="text" id="linkedin" name="fields[linkedin]" value="{{ currentUser.linkedin }}" placeholder="{{ craft.fields.getFieldbyHandle('linkedin').settings.placeholder }}">
                            </div>
                        </div>
                    </div>

                </div>
            {% endblock %}
        {% endembed %}

        {% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper'} %}

            {% block content %}

                <button type="submit" class="button-outline _call-to-action">Änderungen speichern</button>
            {% endblock %}
        {% endembed %}
    </form>
{% endblock %}
