{% set classNameCourse = entry.courseCategory.first() ? ' _' ~ entry.courseCategory.first().slug : '' %}
{% set classNameStyle  = '' %}

{% for style in block.style %}
    {% set classNameStyle = classNameStyle ~ ' _' ~ style %}
{% endfor %}

{% embed "helper/sectionContainer.html" with {classes: 'richtext__wrapper' ~ classNameCourse ~ classNameStyle, sectionLabel: block.sectionLabel} %}

    {% block content %}
        <div class="richtext__content">
            {{ block.richtext }}
        </div>
    {% endblock %}

{% endembed %}

