{% embed "helper/sectionContainer.html" with {classes: 'mosaic-tiles__wrapper', sectionLabel: block.sectionLabel} %}

    {% block content %}

        {% for block in block.entries %}

            {% if block.type == 'dates' %}
                {% include 'matrix/mosaicTiles/date' with {entryModel: block, styleClasses: '', buttonText: defaultStringButtonDate} %}
            {% else %}
                {% include 'matrix/mosaicTiles/entry' with {entryModel: block, headline: block.title, shortText: block.teaserText, styleClasses: '', buttonText: defaultStringButton} %}
            {% endif %}

        {% endfor %}
    {% endblock %}

{% endembed %}
