{% set dateStart = entry.timeFrameStart|date('D j. F Y') %}
{% set timeStart = entry.fullDay ? '' : ' ' ~ entry.timeFrameStart|date('H.i') ~ ' Uhr' %}
{% set dateEnd   = entry.timeFrameStop|date('D j. F Y') %}
{% set timeEnd   = entry.fullDay ? '' : ' ' ~ entry.timeFrameStop|date('H.i') ~ ' Uhr' %}
{% set singleDay = dateStart == dateEnd %}

<dl class="richtext__content__sidebar__wrapper">

    <dt>Datum</dt>
    <dd>
        {{ dateStart }}
        {{ singleDay ? '<br>' }}
        {{ timeStart }} –
        {% if not singleDay %}
            <br> {{ dateEnd }}
        {% endif %}
            {{ timeEnd }}
    </dd>

    {% if entry.venue|length or entry.venueDetails %}
        <dt>{{ craft.fields.getFieldbyHandle('venue') }}</dt>
        <dd>
            {% include 'partials/venue' %}

            <div class="_venue-details">
                {{ entry.venueDetails }}
            </div>
        </dd>
    {% endif %}
</dl>
