{% extends "_layout" %}

{% block content %}
    {% include 'partials/pageTitle' %}

    {# Show error message if something went wrong #}
    {% if craft.session.hasFlash('error') %}
        {% embed "helper/sectionContainer.html" with {classes: 'form__notice__wrapper'} %}
            {% block content %}
                <div class="form__notice__content _error">
                    <span class="form__notice__text">{{ flashMessageProfileError.shortText }}</span>
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% include 'matrix/richtext/index' %}
{% endblock %}
